<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITART04 : รับข้อมูลจากเครื่องบันทึกเวลาเข้าออก</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()" style="margin-top: -15px;">ย้อนกลับ</button>
    <button class="btn btn-success" (click)="onSave()" style="margin-top: -15px;"> บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.clockId != null" (click)="onBeforeDelete(records)" style="margin-top: -15px;"> ลบ</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="card-header">รับข้อมูลจากเครื่องบันทึกเวลาเข้าออก</div>
              <div class="card-block">
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 5px;" align="right" required>บริษัท</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <select required #ouCode="ou-select" ou-select [items]="fromLoadObject.ouCode" (change)="changeOuCode($event)"></select>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 5px;" align="right" required>พนักงาน</label>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <div *ngIf="this.clockId != null">
                        <select required #employeeAdd="employee-select" employee-select data-placeholder="โปรดเลือก" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.empCode"
                          (change)="changeEmployeeAdd($event)"></select>
                      </div>
                      <div *ngIf="this.clockId == null">
                        <select required #employeeAdd="employee-select" employee-select data-placeholder="โปรดเลือก" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.empCode"
                          (change)="changeEmployeeAdd($event)"></select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-5 form-control-label" style="margin-top: 6px"><p align="right">วันที่รูดบัตร</p></label>
                    <div class="col-md-7">
                      <ss-datepicker #dateCard (change)="changeDate($event)" [setValueDate]="dateCardVal"></ss-datepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:8px" required> เวลาเข้างาน  </label></p>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                    <ss-timepicker #timeIn (change)="changeTimeIn($event)"></ss-timepicker>
                  </div>
                  <p align="right"><label class="col-sm-1 col-md-1 col-lg-1 form-control-label" style="margin-top:8px" required> เวลาออกงาน </label></p>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                    <ss-timepicker #timeOut (change)="changeTimeOut($event)"></ss-timepicker>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 6px;" align="right">เวลาเข้างานใช้คำนวณ</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <ss-timepicker #calculateTimeIn (change)="changeCalculateIn($event)"></ss-timepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 6px;" align="right">เวลาออกงานใช้คำนวณ</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <ss-timepicker #calculateTimeOut (change)="changeCalculateOut($event)"></ss-timepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  varia-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">
        {{ alert.msg }}
      </div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Alert back modal component -->
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">
        {{ alert.msg }}
      </div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">
        {{ alert.msg }}
      </div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
