<style>
  .btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }

  #img-upload {
    margin-left: 20%;
    width: 140px;
    height: 140px;
  }

  .input-group {
    position: relative;
    width: 100%;
    /*margin-left: 20%;*/
    display: table;
    border-collapse: separate;
  }
</style>
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap" style="margin-top: 8px;">SITART04 : รับข้อมูลจากเครื่องบันทึกเวลาเข้าออก</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <!--<div aria-label="Second group" class="btn-group" role="group">-->
            <span class="space-right" style="margin-right: 30px;"></span>
            <button class="btn btn-success" (click)="createClock()" style="margin-top: 1px;"> เพิ่ม</button>
            <button class="btn btn-primary" (click)="searchModal.show()" aria-hidden="true" style="margin-top: 1px;"> นำข้อมูลเข้า</button>
            <button class="btn btn-danger" (click)="searchModal2.show()" style="margin-top: 1px;">วิเคราะห์</button>
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-md-4 form-control-label" style="margin-top: 6px"><p align="right">วันที่</p></label>
                <div class="col-md-8">
                  <ss-datepicker #date (change)="changeDate($event)"></ss-datepicker>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <input class="form-control" id="appendedInputButtons" placeholder="ค้นหาจาก" size="14"  number-only-field type="text" [(ngModel)]="objCriteria.inputSearch">
                  <div class="input-group-btn">
                    <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">{{ initMsg }}</alert>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 1%;">รหัสพนักงาน</th>
                  <th style="width: 5%;">ชื่อพนักงาน</th>
                  <th style="width: 5%;">เวลาเข้าจริง</th>
                  <th style="width: 5%;">เวลาออกจริง</th>
                  <th style="width: 5%;">เวลาเข้าใช้คำนวณ</th>
                  <th style="width: 5%;">เวลาออกใช้คำนวณ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="childModalShow(records)" style="width: 10%; text-align: center">
                    <u> {{records?.empCode}}</u>
                  </td>
                  <td style="width: 7%; text-align: center">{{records?.empThaiName}}</td>
                  <td style="width: 10%; text-align: center">{{records?.timeIn}}</td>
                  <td style="width: 10%; text-align: center">{{records?.timeOut}}</td>
                  <td style="width: 10%; text-align: center">{{records?.calculateTimeIn}}</td>
                  <td style="width: 10%; text-align: center">{{records?.calculateTimeOut}}</td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" style="z-index:1060">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- To search modal component -->
<div bsModal #searchModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="searchModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title">นำข้อมูลเข้า</h4>
      </div>
      <!--<Form [formGroup]="form">-->
      <div class="row">
        <div class="col-md-12">
          <div class="form-group row">
            <div class="form-group">
              <label class="col-md-4 form-control-label" align="right">ชื่อไฟล์</label>
              <div class="col-md-6 ">
                <div class="input-group">
                  <span class="input-group-btn">
                      <span class="btn btn-primary btn-file">Browse
                        <input type="file"  ng2FileSelect [uploader]="uploader"   id="uploader-input"   on->
                      </span>
                  </span>
                  <input type="text" class="form-control"  readonly>
                </div>
              </div>
              <label class="col-md-12 form-control-label" align="center">ขนาดไฟล์ไม่เกิน 10 MB<span class="required">*</span></label>
            </div>
            <div class="form-actions row">
              <div class="col-md-2 offset-md-10">
                <button class="btn btn-primary" type="submit" (click)="onUpload()"> อัพโหลด</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--</Form>-->
    </div>
  </div>
</div>
<!-- To search modal component2 -->
<div bsModal #searchModal2="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="searchModal2.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title">ค้นหา</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label" style="margin-top:6px" align="right">ตั้งแต่แผนก</label>
              <div class="col-md-8">
                <select #departmentStart="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeStart"
                  (change)="changeStartDepartment($event)"></select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label" style="margin-top:6px" align="right">ถึงแผนก</label>
              <div class="col-md-8">
                <select #departmentEnd="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeEnd"
                  (change)="changeEndDepartment($event)"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label" style="margin-top:6px" align="right">ตั้งแต่พนักงาน</label>
              <div class="col-md-8">
                <select #employeeStart="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeStart"
                  (change)="changeStartEmployee($event)"></select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label" style="margin-top:6px" align="right">ถึงพนักงาน</label>
              <div class="col-md-8">
                <select #employeeEnd="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeEnd"
                  (change)="changeEndEmployee($event)"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label" style="margin-top:6px" align="right">วันที่เริ่มต้น</label>
              <div class="col-md-8">
                <ss-datepicker #startDate (change)="changeStartDate($event)"></ss-datepicker>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label" style="margin-top:6px" align="right">วันที่สิ้นสุด</label>
              <div class="col-md-8">
                <ss-datepicker #endDate (change)="changeEndDate($event)"></ss-datepicker>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions row">
          <div class="col-md-2 offset-md-10">
            <button class="btn btn-primary" type="submit" (click)="onSearch(1)">
                ประมวลผล
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
