<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">SITADT05 : ข้อมูลรายละเอียดการมาปฏิบัติงานประจำวัน</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="card-block">
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ตั้งแต่แผนก</p></label>
                    <div class="col-md-7">
                      <select #departmentStart="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeStart"
                        (change)="changeStartDepartment($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึงแผนก</p></label>
                    <div class="col-md-7">
                      <select #departmentEnd="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeEnd"
                        (change)="changeEndDepartment($event)"></select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ตั้งแต่พนักงาน</p></label>
                    <div class="col-md-7">
                      <select #employeeStart="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeStart"
                        (change)="changeStartEmployee($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึงพนักงาน</p></label>
                    <div class="col-md-7">
                      <select #employeeEnd="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeEnd"
                        (change)="changeEndEmployee($event)"></select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <div class="input-group">
                    <input class="form-control" id="appendedInputButtons" placeholder="ค้นหาจาก" size="14" type="text" [(ngModel)]="objCriteria.inputSearch">
                    <div class="input-group-btn">
                      <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                  </div>
                  <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">{{ initMsg }}</alert>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">แสดงรายชื่อพนักงาน
                <div class="card-block table-responsive" style="margin-top: -1px">
                  <table class="table table-hover table-bordered table-condensed table-sm">
                    <thead class="thead-default">
                      <tr>
                        <th style="width: 40%;">รหัสพนักงาน</th>
                        <th style="width: 60%;">ชื่อพนักงาน</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let records of records">
                        <td (click)="childModalShow(records)" style="width: 40%; text-align: center">
                          <u>{{records?.empCode}}</u>
                        </td>
                        <td style="width: 60%;text-align: center">{{records?.empThaiName}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <form [formGroup]="form">
                <div class="col-sm-8">ตารางการทำงาน
                  <div class="card-block table-responsive" style="margin-top: -1px">
                    <div class="form-group row">
                      <div class="col-md-4">
                        <ss-datepicker #startDate [setValueDate]="objCriteria.startDate"></ss-datepicker>
                      </div>
                      <div class="col-md-4">
                        <label class="col-md-6" align="right">เวลาเข้างาน</label>
                        <div class="col-md-6">
                          <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="shiftIn">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <label class="col-md-6" align="right">เวลาเลิกงาน</label>
                        <div class="col-md-6">
                          <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="shiftOut">
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12">ข้อมูลปฏิบัติงาน
                      <div class="form-group row">
                        <div class="col-md-4">
                          <label class="col-md-12" align="right">เวลาเครื่องบันทึกเวลา</label>
                        </div>
                        <div class="col-md-4">
                          <label class="col-md-4" align="right">เข้างาน</label>
                          <div class="col-md-8">
                            <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="timeIn">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <label class="col-md-4" align="right">เลิกงาน</label>
                          <div class="col-md-8">
                            <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="timeOut">
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">เวลาทำงาน

                        <div class="form-group row">
                          <div class="col-md-4">
                            <label class="col-md-5" align="right">มาปกติ</label>
                            <div class="col-md-7">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="col-md-5" align="right">มาสาย</label>
                            <div class="col-md-7">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="col-md-5" align="right">กลับก่อน</label>
                            <div class="col-md-7">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="col-md-5" align="right" style="margin-top: 20px">ลางาน</label>
                            <div class="col-md-7" style="margin-top: 20px">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="col-md-5" align="right" style="margin-top: 20px">ขาดงาน</label>
                            <div class="col-md-7" style="margin-top: 20px">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="col-md-5" align="right" style="margin-top: 20px">ไม่รูดบัตรเข้า-ออกงาน</label>
                            <div class="col-md-7" style="margin-top: 20px">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12">ทำล่วงหน้า
                        <div class="form-group row">
                          <div class="col-md-4">
                            <label class="col-md-5" align="right">ก่อนเข้างาน</label>
                            <div class="col-md-7">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="col-md-5" align="right">วันหยุด</label>
                            <div class="col-md-7">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <label class="col-md-5" align="right">หลังเข้างาน</label>
                            <div class="col-md-7">
                              <input disabled class="form-control" maxlength="100" size="14" type="text">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <div class="col-sm-12">ข้อมูลการลา
                      <div class="card-block table-responsive" style="margin-top: -1px">

                        <table class="table table-hover table-bordered table-condensed table-sm">
                          <thead class="thead-default">
                            <tr>
                              <th style="width: 50%;">ประเภทการลา</th>
                              <th style="width: 50%;">ชื่อประเภทการลา</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let shows of shows">
                              <td style="width: 40%; text-align: center">{{shows?.leaveTypeCode}}</td>
                              <td style="width: 60%;text-align: center">{{shows?.leaveTypeDesc}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </form>




            </div>
          </div>






        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
