<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: 0%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">ข้อมูลพนักงานพนักงาน</div>
		     <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" type="button" (click)="createEmpStatus()"> เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="appendedInputButtons" placeholder="ค้นหา" size="14" maxlength="50"
                    type="text" [(ngModel)]="objCriteria.inputSearch"/>
                <div class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
              <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">
                {{ initMsg }}
              </alert>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 30%;">รหัสพนักงาน</th>
                  <th style="width: 50%;">ชื่อพนักงาน</th>
                  <th style="width: 15%;">ข้อมูลพนักงาน</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td style="width: 20%; text-align: center">{{records?.emp_code}}</td>
                  <td style="width: 50%; text-align: left">{{records?.emp_first_name}} {{records?.emp_last_name}}</td>
                  <td style="width: 15%;text-align: center">
                    <button class="btn btn-success" (click)="childModalShow(records)">ดูข้อมูลเพิ่มเติม</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
  <div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
        <div class="form-actions row" >
          <div class="col-md-2 offset-md-8">
            <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">
                ตกลง
            </button>
          </div>
        </div>
    </div>
  </div>
</div>