<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">เพิ่มข้อมูลพนักงาน</div>
      </div>
    </div>
  </div>
</div>

  <!-- Start Button task -->
<div class="row">
  <span class="space-right" style="margin-right: 31px;"></span>
  <button class="btn btn-primary" (click)="onBack()">ย้อนกลับ</button>
  <button class="btn btn-primary" *ngIf="this.emp_id == null" (click)="onSave()">บันทึก</button>
  <button class="btn btn-primary" *ngIf="this.emp_id != null" (click)="onUpdate()">บันทึก</button>
  <button class="btn btn-danger" *ngIf="this.emp_id != null" (click)="onBeforeDelete(records)">ลบ</button>
</div>

<div class="container-fluid" style="padding-top: 10px;">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="card">
       <div class="card-header">เพิ่มข้อมูลพนักงาน</div>
        <div class="card-block">
          <form [formGroup]="form">
            <div class="modal-dialog modal-lg">
              <div class="modal-body">
               <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>รหัสพนักงาน</label>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                      <div *ngIf="this.emp_id != null">
                        <input class="form-control" maxlength="10" placeholder="รหัสพนักงาน" disabled="disabled" size="14" type="text" formControlName="empCode"/>
              </div>
              <div *ngIf="this.emp_id == null">
                <input class="form-control"  maxlength="10" placeholder="รหัสพนักงาน"  size="14" type="text" formControlName="empCode"/>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>ชื่อจริง</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <input class="form-control"  maxlength="100" placeholder="ชื่อจริง" size="14" type="text" formControlName="empName"/> 
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>นามสกุล</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <input class="form-control"  maxlength="100" placeholder="นามสกุล" size="14" type="text" formControlName="empSername"/> 
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>ว/ด/ป เกิด</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <ss-datepicker #brithDate [setValueDate]="objCriteria.emp_birth_date"(change)="changeBrithDate($event)"></ss-datepicker>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>ที่อยู่</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <textarea class="form-control" maxlength="100" placeholder="ที่อยู่" formControlName="empAddress" value=""></textarea>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>จังหวัด</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <select #province="province-select" province-select hide-code [items]="fromLoadObject.province" [currentItem]="objCriteria.provinceCode" (change)="changeProvince($event)"></select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>บริษัท</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <select #company="company-select" company-select hide-code [items]="fromLoadObject.company" [currentItem]="objCriteria.company_id" (change)="changeCompany($event)"></select>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>สาขา</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <select #branch="branch-select" branch-select hide-code [items]="fromLoadObject.branch" [currentItem]="objCriteria.branch_id" (change)="changeBranch($event)"></select>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>วันที่เริ่มทำงาน</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <ss-datepicker #startDate [setValueDate]="objCriteria.emp_work_date_start"(change)="changeStartDate($event)"></ss-datepicker>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>เงินเดือน</label>
            <div class="col-sm-9 col-md-9 col-lg-9">
              <input class="form-control"  maxlength="30" placeholder="เงินเดือน" size="14" type="text" formControlName="empSaraly"/> 
            </div>
          </div>
        </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
                ตกลง
            </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
                ยกเลิก
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal save component -->
<div bsModal #alertModalSave="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalSave.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">ยืนยันการบันทึกข้อมูล</h5>
      </div>
      <div class="modal-body">
        <div class="form-actions row">
          <div class="col-md-12">
            <div class="form-group">
              ต้องการที่จะบันทึกข้อมูลใช่หรือไม่
            </div>
          </div>
        </div>
        <div class="form-actions row">
          <button class="btn btn-danger pull-right space" type="button" (click)="alertModalSave.hide()">
            ยกเลิก
          </button>
          <button class="btn btn-primary pull-right space" type="button" (click)="onSave()">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
  <div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
        <div class="form-actions row" >
          <div class="col-md-2 offset-md-8">
            <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
                ตกลง
            </button>
          </div>
        </div>
    </div>
  </div>
</div>

 <!--Alert back modal component -->
  <div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
        <div class="form-actions row" >
          <div class="col-md-2 offset-md-2">
            <button class="btn btn-success" type="submit" (click)="backPage()" style="margin-bottom: 10px;">
                ตกลง
            </button>
          </div>
          <div class="col-md-2 offset-md-3">
            <button class="btn btn-danger" type="submit" (click)="backModal.hide()" style="margin-bottom: 10px; margin-left: -15px;">
                ยกเลิก
            </button>
          </div>
        </div>
    </div>
  </div>
</div>

