<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITART06 : กำหนดงวดการทำงาน</div>
      </div>
    </div>
  </div>
<div class="row">
  <span class="space-right" style="margin-right: 30px;"></span>
  <button class="btn btn-primary" (click)="onBack()"> ย้อนกลับ</button>
  <button class="btn btn-primary" (click)="onSave()"> บันทึก</button>
  <button class="btn btn-danger" *ngIf="this.periodId != null" (click)="onBeforeDelete(records)"> ลบ</button>

<form [formGroup]="form">
  <div class="container-fluid" style="padding-top: 10px;">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header">กำหนดงวดการทำงาน</div>
          <div class="card-block">
            <div class="form-group row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <p align= right><label class="col-sm-5 col-md-5 col-lg-4 form-control-label" style="margin-top:22px" required>บริษัท</label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <select #ouCode='ou-select' ou-select data-placeholder="โปรดเลือก" [items]="fromLoadObject.ouCode" (change)="changeOuCode($event)"
                    style="width: 185%"></select>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 col-md-12 col-lg-10">
                <p align= right><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px" required> ปี </label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <input [dat]="periodYear" number-field [format]="'0'" [allowNegative]="false" maxlength="4" class="form-control text-xs-left"
                    placeholder="ระบุปี" size="14" type="text" value="{{periodYear}}" formControlName="periodYear" />
                </div>
                <p align= right><label class="col-sm-2 col-md-2 col-lg-2 form-control-label" style="margin-top:8px" required> งวดที่ </label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <input [dat]="period" number-field [format]="'0'" [allowNegative]="false" maxlength="4" class="form-control text-xs-left"
                    placeholder="ระบุงวด" size="14" type="text" value="{{period}}" formControlName="period" />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 col-md-12 col-lg-10">
                 <p align= right><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px" required> วันที่เริ่มต้น  </label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <ss-datepicker #startDateInput [setValueDate]="this.objCriteria.startDate" (change)="startDateFunc($event)"></ss-datepicker>
                </div>
                <p align= right><label class="col-sm-2 col-md-2 col-lg-2 form-control-label" style="margin-top:8px" required> วันที่สิ้นสุด </label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <ss-datepicker #endDateInput [setValueDate]="this.objCriteria.endDate" (change)="endDateFunc($event)"></ss-datepicker>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <div class="card-header" style="margin-top: 0%">
                <div aria-label="Second group" class="btn-group" role="group">โอนข้อมูลการลางาน
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 col-md-12 col-lg-10">
                <p align= right><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px" required>วันที่เริ่มต้น</label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <ss-datepicker #takeLeaveStartDateInput [setValueDate]="this.objCriteria.takeLeaveStartDate" (change)="takeLeaveStartDateFunc($event)"></ss-datepicker>
                </div>
                <p align= right><label class="col-sm-2 col-md-2 col-lg-2 form-control-label" style="margin-top:8px" required>วันที่สิ้นสุด </label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <ss-datepicker #takeLeaveEndDateInput [setValueDate]="this.objCriteria.takeLeaveEndDate" (change)="takeLeaveEndDateFunc($event)"></ss-datepicker>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="card-header" style="margin-top: 0%">
                <div aria-label="Toolbar with button groups" class="btn-toolbar pull-left" role="toolbar">
                  <div aria-label="Second group" class="btn-group" role="group">โอนข้อมูลทำงานล่วงหน้า
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 col-md-12 col-lg-10">
                <p align= right><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px" required> วันที่เริ่มต้น </label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <ss-datepicker #takeOtStartDateInput [setValueDate]="this.objCriteria.takeOtStartDate" (change)="takeOtStartDateFunc($event)"></ss-datepicker>
                </div>
                <p align= right><label class="col-sm-2 col-md-2 col-lg-2 form-control-label" style="margin-top:8px" required> วันที่สิ้นสุด </label></p>
                <div class="col-sm-2 col-md-2 col-lg-2">
                  <ss-datepicker #takeOtEndDateInput [setValueDate]="this.objCriteria.takeOtEndDate" (change)="takeOtEndDateFunc($event)"></ss-datepicker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
</div>
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
