<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">SITART06 : กำหนดงวดการทำงาน</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" type="button" (click)="createPeriod()"> เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <form [formGroup]="form">
              <div class="form-group">
                <div layout-align="end center">
                  <div class="input-group">
                    <input number-only-field maxlength="4" class="form-control text-xs-left" placeholder="ระบุปี" size="4" type="text" [(ngModel)]="objCriteria.periodYear" value="" formControlName="inputSearch" #inputSearch/>
                    <div class="input-group-btn">
                      <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                  </div>
                <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">
                  {{ initMsg }}
                </alert>
              </div>
            </form>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 12%;"></th>
                  <th style="width: 12%;"></th>
                  <th style="width: 12%;"></th>
                  <th colspan="2" style="width: 12%;">โอนข้อมูลการลางาน</th>
                  <th colspan="2" style="width: 12%;">โอนข้อมูลทำงานล่วงเวลา</th>
                </tr>
                <tr>
                  <th style="width: 12%;">งวดที่</th>
                  <th style="width: 12%;">วันที่เริ่มต้น</th>
                  <th style="width: 12%;">วันที่สิ้นสุด</th>
                  <th style="width: 12%;">วันที่เริ่มต้น</th>
                  <th style="width: 12%;">วันที่สิ้นสุด</th>
                  <th style="width: 12%;">วันที่เริ่มต้น</th>
                  <th style="width: 12%;">วันที่สิ้นสุด</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="childModalShow(records)" style="width: 14%; text-align: center">
                    <u> {{records?.period}}</u>
                  </td>
                  <td style="width: 12%; text-align: center">{{records?.startDate | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 12%; text-align: center">{{records?.endDate | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 12%; text-align: center">{{records?.takeLeaveStartDate | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 12%; text-align: center">{{records?.takeLeaveEndDate | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 12%; text-align: center">{{records?.takeOtStartDate | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 12%; text-align: center">{{records?.takeOtEndDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
