<div class="row">
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-addon">Displaying {{_cursor + 1 | number:'0,0'}} - {{_cursor + _count  | number:'0,0'}} of {{_total | number:'0,0'}} record(s)</span>
    </div>
  </div>
  <div class="col-md-8">
    <div class="input-group pull-right">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="onFirstPage()" [disabled]="_activePage == 1"><span class="fa fa-step-backward" aria-hidden="true"></span></button>
        <button class="btn btn-secondary" type="button" (click)="onPreviousPage()" [disabled]="_activePage == 1"><span class="fa fa-chevron-left" aria-hidden="true"></span></button>
      </span>
      <span class="input-group-addon">Page</span>
      <input type="text" class="form-control" #activePage=numberfield [(ngModel)]="_activePage" number-field [format]="'0,0'" [allowNegative]="false" [dat]="_activePage" (change)="onChangePage($event.target.value)" />
      <span class="input-group-addon">of {{_pages | number:'0,0'}}</span>
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="onNextPage()" [disabled]="_activePage == _pages"><span class="fa fa-chevron-right" aria-hidden="true"></span></button>
        <button class="btn btn-secondary" type="button" (click)="onLastPage()" [disabled]="_activePage == _pages"><span class="fa fa-step-forward" aria-hidden="true"></span></button>
      </span>
    </div>
  </div>
</div>
