.input-group {
  width: 300px;
  & .form-control {
    width: 68px;
    padding-left: 5px;
    padding-right: 5px;
  }

  > .input-group-addon {
    border: none;
    background-color: transparent;
    text-align: left;
    height: 34px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
  }
}

.row {
    margin-bottom: 15px;
    margin-right: 1px;
}
