body {
  background: rgb(204,204,204);
}

.page {
  background: white;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding: 0.5cm;
}

.page[size="A4"] {
  width: 21cm;
}

.page[size="A4"][layout="landscape"] {
  width: 29.7cm;
}

table {
  width: 100%;
  font-size: 90%;
}

thead th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  vertical-align: top;
}

td {
  vertical-align:top;
}

tfoot tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  vertical-align:top;
}

.col-center {
  text-align: center;
}

.col-right {
  text-align: right;
}

#print-head,
#print-foot {
  display: none;
  }

@media print {
  body, .page {
    margin: 0;
    box-shadow: 0;
    padding: 0;
  }
  .report-menu {
    display: none;
  }
}
