<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITART08 : กำหนดกลุ่มการทำงานตามพนักงาน</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()" style="margin-top: -15px;"> ย้อนกลับ</button>
    <button class="btn btn-primary" (click)="onSave()" style="margin-top: -15px;">บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.shiftEmpId != null" (click)="onBeforeDelete(records)" style="margin-top: -15px;"> ลบ</button>
    <button class="btn btn-default" *ngIf="this.shiftEmpId == null" (click)="onProcess()" style="margin-top: -15px;"> ประมวลผล</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">กำหนดกลุ่มการทำงานตามพนักงาน</div>
              <div class="card-block">
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>บริษัท</label>
                    <div class="col-md-6">
                      <select #ouCode="ou-select" ou-select data-placeholder="โปรดเลือก" ou-selct [items]="fromLoadObject.ouCode" (change)="changeOuCode($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>กลุ่มการทำงาน</label>
                    <div class="col-md-6">
                      <select #shiftGroup="shift-select" shift-select data-placeholder="โปรดเลือก" shift-select [items]="fromLoadObject.shift" (change)="changeShiftGroupA($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right">เวลาเข้างาน</label>
                    <div class="col-md-6">
                      <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="shiftIn"/>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right">เวลาเลิกงาน</label>
                    <div class="col-md-6">
                      <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="shiftOut"/>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>พนักงาน</label>
                    <div class="col-md-6">
                      <select #employeeAdd="employee-select" employee-select data-placeholder="โปรดเลือก" employee-select [items]="fromLoadObject.employee" (change)="changeEmployeeAdd($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>วันที่เริ่มต้น</label>
                    <div class="col-md-6">
                      <ss-datepicker #startDate [setValueDate]="objCriteria.startDate" (change)="changeStartDateA($event)"></ss-datepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>วันที่สิ้นสุด</label>
                    <div class="col-md-6">
                      <ss-datepicker #endDate [setValueDate]="objCriteria.endDate" (change)="changeEndDateA($event)"></ss-datepicker>
                    </div>
                  </div>
                </div>
                <div class="card-block table-responsive" style="margin-top: -40px">
                  <table class="table table-hover table-bordered table-condensed table-sm" *ngIf="this.shiftEmpId == null">
                    <thead class="thead-default">
                      <tr>
                        <th style="width: 20%;">รหัสพนักงาน</th>
                        <th style="width: 20%;">ชื่อพนักงาน</th>
                        <th style="width: 20%;">กลุ่มการทำงาน</th>
                        <th style="width: 10%;">เวลาเข้างาน</th>
                        <th style="width: 10%;">เวลาเลิกงาน</th>
                        <th style="width: 10%;">วันที่เริ่มต้น</th>
                        <th style="width: 10%;">วันที่สิ้นสุด</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let shows of shows">
                        <td style="width: 20%; text-align: center">{{shows?.empCode}}</td>
                        <td style="width: 20%; text-align: center">{{shows?.empThaiName}}</td>
                        <td style="width: 20%; text-align: center">{{shows?.shiftCode}}</td>
                        <td style="width: 10%; text-align: center">{{shows?.shiftIn}}</td>
                        <td style="width: 10%; text-align: center">{{shows?.shiftOut}}</td>
                        <td style="width: 10%; text-align: center">{{shows?.startDate | date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 10%; text-align: center">{{shows?.endDate | date: 'dd/MM/yyyy'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert back modal component -->
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert success modal component -->
<div bsModal #successModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalSuccessClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalSuccessClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
