<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">SITADT02 : บันทึกข้อมูลการทำล่วงเวลาของพนักงาน</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" type="button" (click)="createOverTime()">เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">หน่วยงาน</p></label>
                  <div class="col-md-7">
                    <select #departmentStart="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeStart"
                      (change)="changeStartDepartment($event)"></select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึง</p></label>
                  <div class="col-md-7">
                    <select #departmentEnd="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeEnd"
                      (change)="changeEndDepartment($event)"></select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">พนักงาน</p></label>
                  <div class="col-md-7">
                    <select #employeeStart="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeStart"
                      (change)="changeStartEmployee($event)"></select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึง</p></label>
                  <div class="col-md-7">
                    <select #employeeEnd="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeEnd"
                      (change)="changeEndEmployee($event)"></select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">วันที่</p></label>
                  <div class="col-md-7">
                    <ss-datepicker #overTimeStartDate (change)="changeOverTimeStartDate($event)"></ss-datepicker>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึง</p></label>
                  <div class="col-md-7">
                    <ss-datepicker #overTimeEndDate (change)="changeOverTimeEndDate($event)"></ss-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <input class="form-control" id="appendedInputButtons" placeholder="ค้นหาจาก" size="14" type="text" [(ngModel)]="objCriteria.inputSearch">
                  <div class="input-group-btn">
                    <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </div>
                <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">{{ initMsg }}</alert>
              </div>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th rowspan="2" style="width: 20%; vertical-align: middle;">วันที่ทำล่วงเวลา</th>
                  <th rowspan="2" style="width: 12%; vertical-align: middle;">รหัสพนักงาน</th>
                  <th rowspan="2" style="width: 12%; vertical-align: middle;">ชื่อพนักงาน</th>
                  <th colspan="2" style="width: 8%; vertical-align: middle;">ก่อนเข้างาน</th>
                  <th colspan="2" style="width: 8%; vertical-align: middle;">ก่อนพัก</th>
                  <th colspan="2" style="width: 8%; vertical-align: middle;">หลังพัก</th>
                  <th colspan="2" style="width: 8%; vertical-align: middle;">หลังเลิกงาน</th>
                  <th colspan="2" style="width: 8%; vertical-align: middle;">เวลาที่ทำ</th>
                </tr>
                <tr>
                  <th style="width: 4%;">เข้า</th>
                  <th style="width: 4%;">ออก</th>
                  <th style="width: 4%;">เข้า</th>
                  <th style="width: 4%;">ออก</th>
                  <th style="width: 4%;">เข้า</th>
                  <th style="width: 4%;">ออก</th>
                  <th style="width: 4%;">เข้า</th>
                  <th style="width: 4%;">ออก</th>
                  <th style="width: 4%;">ชั่วโมง</th>
                  <th style="width: 4%;">นาที</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="searchModal.show()" style="width: 20%; text-align: center">
                    <u>{{records?.startDate | date: 'dd/MM/yyyy'}} - {{records?.endDate | date: 'dd/MM/yyyy'}} </u>
                  </td>
                  <td style="width: 12%; text-align: center">{{records?.empCode}}</td>
                  <td style="width: 12%; text-align: center">{{records?.empThaiName}}</td>
                  <td style="width: 4%; text-align: center">{{records?.beforeWorkStart}}</td>
                  <td style="width: 4%; text-align: center">{{records?.beforeWorkEnd}}</td>
                  <td style="width: 4%; text-align: center">{{records?.beforeBreakStart}}</td>
                  <td style="width: 4%; text-align: center">{{records?.beforeBreakEnd}}</td>
                  <td style="width: 4%; text-align: center">{{records?.afterBreakStart}}</td>
                  <td style="width: 4%; text-align: center">{{records?.afterBreakEnd}}</td>
                  <td style="width: 4%; text-align: center">{{records?.afterWorkStart}}</td>
                  <td style="width: 4%; text-align: center">{{records?.afterWorkEnd}}</td>
                  <td style="width: 4%; text-align: center"></td>
                  <td style="width: 4%; text-align: center"></td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #searchModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="searchModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>


        <h4 class="modal-title">แก้ไขข้อมูล</h4>
    <button class="btn btn-primary" (click)="onBack()" style="margin-top: -15px;"> ย้อนกลับ</button>
    <button class="btn btn-success" (click)="onSave()" style="margin-top: -15px;">บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.overTimeId != null" (click)="onBeforeDelete(records)" style="margin-top: -15px;"><i class="fa fa-remove"></i> ลบ</button>
      </div>
      <div class="modal-body">

        <div class="col-md-12">
          <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="col-sm-3 col-md-3 col-lg- form-control-label" align="right" style="margin-top:6px">วันที่</label>
                <div class="col-sm-3 col-md-3 col-lg-3">
                  <ss-datepicker #overTimeStartDate (change)="changeOverTimeStartDate($event)"></ss-datepicker>
                </div>
<label class="col-sm-1 col-md-1 col-lg-1 form-control-label" align="right" style="margin-top:6px">ถึง</label>
                <div class="col-sm-3 col-md-3 col-lg-3 ">
                   <ss-datepicker #overTimeEndDate (change)="changeOverTimeEndDate($event)"></ss-datepicker>
                </div>
              </div>


              <!--<label class="col-md-1 form-control-label" style="margin-top: 6px" align="left" >ถึง</label>
              <div class="col-md-3">
                <ss-datepicker #overTimeEndDate (change)="changeOverTimeEndDate($event)"></ss-datepicker>
              </div>-->

          </div>
        </div>

        <div class="col-lg-12">
          <div class="form-group row">
            <div class="col-sm-12 col-md-12 col-lg-10">
              <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">พนักงาน</label></p>

              <div class="col-sm-6 col-md-6 col-lg-4">

                <input class="form-control" maxlength="100" placeholder="" size="14" type="text" /><br>
               <label class="col-md-7 form-control-label" style="margin-top: 6px"><p align="right"><font size="4">เข้า</font></p></label>
              </div>

              <div class="col-sm-6 col-md-6 col-lg-4">
                <input class="form-control" maxlength="100" placeholder="" size="14" type="text" /><br>
                <label class="col-md-7 form-control-label" style="margin-top: 6px"><p align="right"><font size="4">ออก</font></p></label>
              </div>

            </div>
          </div>
        </div>

          <div class="form-group row">
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-10">
                  <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">ก่อนเข้างาน</label></p>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <ss-timepicker #otBeforeWorkStart (change)="changeOtBeforeWorkStart($event)"></ss-timepicker>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4 ">
                    <ss-timepicker #otBeforeWorkEnd (change)="changeOtBeforeWorkEnd($event)"></ss-timepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-10">
                  <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">รหว่างเข้างานก่อนพัก</label></p>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <ss-timepicker #otBeforeBreakStart (change)="changeOtBeforeBreakStart($event)"></ss-timepicker>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4 ">
                    <ss-timepicker #otBeforeBreakEnd (change)="changeOtBeforeBreakEnd($event)"></ss-timepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-10">
                  <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">ระหว่างเข้างานหลังพัก</label></p>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <ss-timepicker #otAfterBreakStart (change)="changeOtAfterBreakStart($event)"></ss-timepicker>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4 ">
                    <ss-timepicker #otAfterBreakEnd (change)="changeOtAfterBreakEnd($event)"></ss-timepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-10">
                  <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">หลังเลิกงาน</label></p>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <ss-timepicker #otAfterWorkStart (change)="changeOtAfterWorkStart($event)"></ss-timepicker>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4 ">
                    <ss-timepicker #otAfterWorkEnd (change)="changeOtAfterWorkEnd($event)"></ss-timepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-10">
                  <p align="right"><label class="col-sm-4 col-md-4 col-lg-5 form-control-label" style="margin-top:22px">ชั่วโมง</label></p>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <input class="form-control" maxlength="100" placeholder="" size="14" type="text" />
                  </div>
                  <p align="right"><label class="col-sm-1 col-md-1 col-lg-1 form-control-label" style="margin-top:5px">นาที</label></p>
                  <div class="col-sm-6 col-md-6 col-lg-3">
                    <input class="form-control" maxlength="100" placeholder="" size="14" type="text" />
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
