<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITADT02 : บันทึกข้อมูลการทำล่วงเวลาของพนักงาน</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()" style="margin-top: -15px;"> ย้อนกลับ</button>
    <button class="btn btn-success" (click)="onSave()" style="margin-top: -15px;">บันทึก</button>

    <button class="btn btn-default" *ngIf="this.overTimeId == null" (click)="onProcess()" style="margin-top: -15px;">ประมวลผล</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">บันทึกข้อมูลการทำล่วงเวลาของพนักงาน</div>
              <div class="card-block">
                <div class="card-block table-responsive" style="margin-top: -40px">
                  <div class="card-block">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">หน่วยงาน</p></label>
                            <div class="col-md-7">
                              <select #departmentStartA="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeStart"
                                (change)="changeDepartmentStartA($event)"></select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึง</p></label>
                            <div class="col-md-7">
                              <select #departmentEndA="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeEnd"
                                (change)="changeDepartmentEndA($event)"></select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">พนักงาน</p></label>
                            <div class="col-md-7">
                              <select #employeeStartA="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeStart"
                                (change)="changeEmployeeStartA($event)"></select>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึง</p></label>
                            <div class="col-md-7">
                              <select #employeeEndA="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeEnd"
                                (change)="changeEmployeeEndA($event)"></select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">วันที่</p></label>
                            <div class="col-md-7">
                              <ss-datepicker #startDateA (change)="changeOverTimeStartDateA($event)"></ss-datepicker>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึง</p></label>
                            <div class="col-md-7">
                              <ss-datepicker #endDateA (change)="changeOverTimeEndDateA($event)"></ss-datepicker>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <div class="col-md-12">
                          <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-10">
                              <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">ก่อนเข้างาน</label></p>
                              <div class="col-sm-4 col-md-4 col-lg-4">
                                <ss-timepicker #otBeforeWorkStartA (change)="changeOtBeforeWorkStartA($event)"></ss-timepicker>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4 ">
                                <ss-timepicker #otBeforeWorkEndA (change)="changeOtBeforeWorkEndA($event)"></ss-timepicker>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-10">
                              <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">รหว่างเข้างานก่อนพัก</label></p>
                              <div class="col-sm-4 col-md-4 col-lg-4">
                                <ss-timepicker #otBeforeBreakStartA (change)="changeOtBeforeBreakStartA($event)"></ss-timepicker>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4 ">
                                <ss-timepicker #otBeforeBreakEndA (change)="changeOtBeforeBreakEndA($event)"></ss-timepicker>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-10">
                              <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">ระหว่างเข้างานหลังพัก</label></p>
                              <div class="col-sm-4 col-md-4 col-lg-4">
                                <ss-timepicker #otAfterBreakStartA (change)="changeOtAfterBreakStartA($event)"></ss-timepicker>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4 ">
                                <ss-timepicker #otAfterBreakEndA (change)="changeOtAfterBreakEndA($event)"></ss-timepicker>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-10">
                              <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">หลังเลิกงาน</label></p>
                              <div class="col-sm-4 col-md-4 col-lg-4">
                                <ss-timepicker #otAfterWorkStartA (change)="changeOtAfterWorkStartA($event)"></ss-timepicker>
                              </div>
                              <div class="col-sm-4 col-md-4 col-lg-4 ">
                                <ss-timepicker #otAfterWorkEndA (change)="changeOtAfterWorkEndA($eventA)"></ss-timepicker>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-10">
                              <p align="right"><label class="col-sm-4 col-md-4 col-lg-4 form-control-label" style="margin-top:22px">ชั่วโมง</label></p>
                              <div class="col-sm-6 col-md-6 col-lg-3">
                                <input class="form-control" maxlength="100" placeholder="" size="14" type="text" />
                              </div>
                              <p align="right"><label class="col-sm-1 col-md-1 col-lg-1 form-control-label" style="margin-top:5px">นาที</label></p>
                              <div class="col-sm-6 col-md-6 col-lg-3">
                                <input class="form-control" maxlength="100" placeholder="" size="14" type="text" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <table class="table table-hover table-bordered table-condensed table-sm">
                    <thead class="thead-default">
                      <tr>
                        <th rowspan="2" style="width: 20%; vertical-align: middle;">วันที่ทำล่วงเวลา</th>
                        <th rowspan="2" style="width: 12%; vertical-align: middle;">รหัสพนักงาน</th>
                        <th rowspan="2" style="width: 12%; vertical-align: middle;">ชื่อพนักงาน</th>
                        <th colspan="2" style="width: 8%;">ก่อนเข้างาน</th>
                        <th colspan="2" style="width: 8%;">ก่อนพัก</th>
                        <th colspan="2" style="width: 8%;">หลังพัก</th>
                        <th colspan="2" style="width: 8%;">หลังเลิกงาน</th>
                        <th colspan="2" style="width: 8%;">เวลาที่ทำ</th>
                      </tr>
                      <tr>
                        <th style="width: 4%;">เข้า</th>
                        <th style="width: 4%;">ออก</th>
                        <th style="width: 4%;">เข้า</th>
                        <th style="width: 4%;">ออก</th>
                        <th style="width: 4%;">เข้า</th>
                        <th style="width: 4%;">ออก</th>
                        <th style="width: 4%;">เข้า</th>
                        <th style="width: 4%;">ออก</th>
                        <th style="width: 4%;">ชั่วโมง</th>
                        <th style="width: 4%;">นาที</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let shows of shows">
                        <td style="width: 20%; text-align: center">{{shows?.startDate| date: 'dd/MM/yyyy'}} - {{shows?.startDate| date: 'dd/MM/yyyy'}}</td>
                        <td style="width: 12%; text-align: center">{{shows?.empCode}}</td>
                        <td style="width: 12%; text-align: center">{{shows?.empThaiName}}</td>
                        <td style="width: 4%; text-align: center">{{shows?.beforeWorkStart}}</td>
                        <td style="width: 4%; text-align: center">{{shows?.beforeWorkEnd}}</td>
                        <td style="width: 4%; text-align: center">{{shows?.beforeBreakStart}}</td>
                        <td style="width: 4%; text-align: center">{{shows?.beforeBreakEnd}}</td>
                        <td style="width: 4%; text-align: center">{{shows?.afterBreakStart}}</td>
                        <td style="width: 4%; text-align: center">{{shows?.afterBreakEnd}}</td>
                        <td style="width: 4%; text-align: center">{{shows?.afterWorkStart}}</td>
                        <td style="width: 4%; text-align: center">{{shows?.afterWorkEnd}}</td>
                        <td style="width: 4%; text-align: center"></td>
                        <td style="width: 4%; text-align: center"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Alert back modal component -->
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Alert success modal component -->
<div bsModal #successModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalSuccessClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalSuccessClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
