html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Raleway',sans-serif;
    position: relative;
}

.container {
    padding-top: 6px;
}

#circle {
  font-size:35px;
  color:white;
  width:100%;
  text-align:center;
}

.underline-link {
  text-decoration: none;
}

.module-title {
    text-align: center;
    color: #0b9ad6;
}

/* Bounce In */
.bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  box-shadow: 1px 3px 10px #007fb1;
  height: 25%;
  width:100%;
  background-color: #0c99d5;
}

.bounce-in:hover, .bounce-in:focus, .bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
