<div class="login-screen col-sm-12 col-xs-12 col-md-12 col-lg-12 "></div>
<div class="login-center">
  <div class="container min-height" style="margin-top: 150px;">
    <div class="row">
      <div id='loginTitle'>
        <h1 class="bigTitle">I</h1>
        <h1 class="bigTitle">H</h1>
        <h2 class="smallTitle">uman</h2>
        <h1 class="bigTitle">R</h1>
        <h2 class="smallTitle">esource</h2>
      </div>
      <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
      <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4">
        <div class="row" style="box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px #0b99d6;
                  background: rgba(0, 0, 0, 0.5)" id="signinForm">
          <div class="login" id="card">
            <div class="front signin_form">
              <i class="fa fa-black-tie" style="font-size:100px;margin-top:-5px"></i>
              <form onsubmit="return false" ngNoForm>
                <div class="login-form-1">
                  <div class="login-form">
                    <div class="login-group">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="left-inner-addon">
                            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" style="margin-left: 5%" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <div class="left-inner-addon">
                            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" style="margin-left: 5%" />
                          </div>
                        </div>
                      </div>
                      <div class="form-group sign-btn col-sm-12 col-xs-12 col-md-12 col-lg-12">
                        <div class="row">
                          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
                          <div class="col-sm-8 col-xs-8 col-md-8 col-lg-8">
                            <button type="submit" class="fill" (click)="login()">LOGIN</button>
                          </div>
                          <div class="col-sm-2 col-xs-2 col-md-2 col-lg-2"></div>
                        </div>
                      </div>
                      <span style="margin-left: 240px;" class="forgotTitle"><i class="fa fa-question-circle" aria-hidden="true"></i> forgot password</span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4"></div>
    </div>
  </div>
</div>

<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">
        <div class="form-actions row">
          <div class="col-md-12">
            <div class="form-group">
              {{ alert.message }}
            </div>
          </div>
        </div>
        <div class="form-actions row">
          <button class="btn btn-primary pull-right space-right" type="button" (click)="back()">
            ปิด
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
