html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Raleway',sans-serif;
    position: relative;
}

.in-page {
    min-height: 520px;
}

.main {
    position: relative;
}

.form-control:hover {
    border-color: #0b99d6;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(24, 204, 162, 0.6);
    outline: 0 none;
}

.min-height {
    min-height: 380px;
}

.login-screen {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url("../assets/img/IHR_BODY.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-screen:before {
    content: "";
    background: rgba(0,0,0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.login-center {
    text-align: center;
}

.login {
    width: 100%;
    color: #fff;
}

.login .login-form {
    text-align: left;
}

.login label {
    color: #fff;
}

.login-form .input-group .form-control {
    background: none;
    height: 44px;
    color: #ddd;
    width: 90%;
}

.login-form .input-group .input-group-addon {
    background: none;
}

.login-form .input-group .input-group-addon .glyphicon {
    color: #1b5a7c;
}

.login-form .input-group .form-control::-moz-placeholder {
    color: #fff;
    opacity: 0.3;
}

.login .sign-btn input.btn {
    background: #0b99d6;
    border-color: #0b99d6;
    color: #fff;
    width: 100%;
}

.login .sign-btn a {
    text-decoration: none;
}

.login .checkbox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.login .forgot {
    display: inline-block;
    margin: 20px 0;
}

.front.signin_form {
    height: 300px;
}

div#loginTitle {
    width:500px;
    height: 100px;
    left:317px;
    top:5px;
    font-size: 45px;
    color:whitesmoke;
    position: relative;
    -webkit-animation: loginTitle 3;  /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: 3; /* Safari 4.0 - 8.0 */
    animation: loginTitle 3s;
    animation-iteration-count: 1;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes loginTitle {
    0%   {width: 300px;right:500px; top:0px;font-size: 20px;color:whitesmoke;}
    25%  {width: 300px;right:500px; top:-100px;font-size: 25px;color:whitesmoke;}
    50%  {width: 300px;left:300px; top:5px;font-size: 30px;color:whitesmoke;}
    75% {width: 500px;left:500px; top:5px;font-size: 35px;color:whitesmoke;}
    100% {width: 500px;left:317px; top:5px;font-size: 45px;color:whitesmoke;}
}

/* Standard syntax */
@keyframes loginTitle {
    0%   {width: 300px;right:500px; top:0px;font-size: 20px;color:whitesmoke;}
    25%  {width: 300px;right:500px; top:-100px;font-size: 25px;color:whitesmoke;}
    50%  {width: 300px;left:300px; top:5px;font-size: 30px;color:whitesmoke;}
    75% {width: 500px;left:500px; top:5px;font-size: 35px;color:whitesmoke;}
    100% {width: 500px;left:317px; top:5px;font-size: 45px;color:whitesmoke;}
}

.bigTitle {
  display: inline;
  color: #28c5ff;
  font-size: 50px;
}

.smallTitle {
  display: inline;
  margin-left: -10px;
}

.forgotTitle:hover {
    font-size: 15px;
    cursor:pointer;
}

button.fill {
  position: relative;
  height: 35px;
  width: 200px;
  margin: 3px 0px 0px 11px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;

  border: 2px #003d66 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  background-color: #056698;
}

.fill:hover {
  color: whitesmoke;
  background: #003d66;
}

.fill:before {
  content: "";
  position: absolute;
  background: #003d66;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}

//responsive
@media screen and (min-width: 318px) {
  #loginTitle {
    margin-left: -410px;
    margin-top: -100px;
  }
  #signinForm{
    margin-left: -100px;
    width: 360%;
  }
  .fill{
    margin-left: -25px;
  }
  .forgotTitle{
    margin-left: 140px !important;
  }
}

@media screen and (min-width: 359px) {
  #loginTitle {
    margin-left: -385px;
    margin-top: -100px;
  }
  #signinForm{
    margin-left: -115px;
    width: 360%;
  }
  .fill{
    margin-left: -5px;
  }
  .forgotTitle{
    margin-left: 190px !important;
  }
}

@media screen and (min-width: 374px) {
  #loginTitle {
    margin-left: -385px;
    margin-top: -100px;
  }
  #signinForm{
    margin-left: -120px;
    width: 350%;
  }
  .fill{
    margin-left: -5px;
  }
  .forgotTitle{
    margin-left: 200px !important;
  }
}

@media screen and (min-width: 411px) {
  #loginTitle {
    margin-left: -360px;
    margin-top: -100px;
  }
  #signinForm{
    margin-left: -140px;
    width: 360%;
  }
  .fill{
    margin-left: 15px;
  }
  .forgotTitle{
    margin-left: 250px !important;
  }
}


@media screen and (min-width: 479px) {
  #loginTitle {
    margin-left: -330px;
    margin-top: -150px;
  }
  #signinForm{
    margin-left: -160px;
    width: 345%;
    margin-top: -25px;
  }
  .fill{
    margin-left: 30px;
  }
  .forgotTitle{
    margin-left: 300px !important;
  }
}

@media screen and (min-width: 567px) {
  #loginTitle {
    margin-left: -280px;
    margin-top: -150px;
  }
  #signinForm{
    margin-left: -195px;
    width: 345%;
  }
  .fill{
    margin-left: 60px;
  }
  .forgotTitle{
    margin-left: 400px !important;
  }
}

@media screen and (min-width: 639px) {
  #loginTitle {
    margin-left: -300px;
    margin-top: -150px;
  }
  #signinForm{
    margin-left: -190px;
    width: 345%;
  }
  .fill{
    margin-left: 60px;
  }
  .forgotTitle{
    margin-left: 370px !important;
  }
}


@media screen and (min-width: 730px) {
  #loginTitle {
    margin-left: -280px;
    margin-top: -150px;
  }
  #signinForm{
    margin-left: -185px;
    width: 345%;
    margin-top: -25px;
  }
  .fill{
    margin-left: 60px;
  }
  .forgotTitle{
    margin-left: 370px !important;
  }
}

@media screen and (min-width: 735px) {
  #loginTitle {
    margin-left: -320px;
    margin-top: -150px;
  }
  #signinForm{
    margin-left: -220px;
    width: 345%;
    margin-top: -25px;
  }
  .fill{
    margin-left: 60px;
  }
  .forgotTitle{
    margin-left: 370px !important;
  }
}

@media screen and (min-width: 767px) {
  #loginTitle {
    margin-left: -230px;
    margin-top: 100px;
  }
  #signinForm{
    margin-left: -245px;
    width: 300%;
    margin-top: 10px;
  }
  .fill{
    margin-left: 90px;
  }
  .forgotTitle{
    margin-left: 480px !important;
  }
}

@media (min-width: 1000px) {
  #loginTitle {
    margin-left: -120px;
  }
  #signinForm{
    margin-left: -110px;
    width: 150%;
  }
  .fill {
    margin-left: 25px;
  }
  .forgotTitle{
    margin-left: 300px !important;
  }

}

@media (min-width: 1030px) {
  #loginTitle {
    margin-left: 0px;
  }
  #signinForm{
    margin-left: 0px;
    width: 100%;
  }
  .fill {
    margin-left: 0px;
  }
  .forgotTitle{
    margin-left: 215px !important;
  }
}
