<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">SITART07 : กำหนดกลุ่มการทำงานตามแผนก</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" type="button" (click)="createShiftDepartment()"> เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ตั้งแต่แผนก</p></label>
                <div class="col-md-7">
                  <select #departmentStart="department-select" department-select [items]="fromLoadObject.department" (change)="changeStartDepartment($event)"></select>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-md-2 form-control-label" style="margin-top: 6px"><p align="right">ถึงแผนก</p></label>
                <div class="col-md-7">
                  <select #departmentEnd="department-select" department-select [items]="fromLoadObject.department" (change)="changeEndDepartment($event)"></select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="appendedInputButtons" placeholder="ค้นหา" size="14" type="text" [(ngModel)]="objCriteria.inputSearch"/>
                <div class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
              <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">
                {{ initMsg }}
              </alert>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 15%;">รหัสแผนก</th>
                  <th style="width: 30%;">ชื่อแผนก</th>
                  <th style="width: 15%;">กลุ่มการทำงาน</th>
                  <th style="width: 15%;">เวลาเข้างาน</th>
                  <th style="width: 15%;">เวลาเลิกงาน</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="childModalShow(records)" style="width: 15%; text-align: center">
                    <u>{{records?.departmentCode}}</u>
                  </td>
                  <td style="width: 30%; text-align: center">{{records?.departmentNameLocal}}</td>
                  <td style="width: 15%;text-align: center">{{records?.shiftCode}}</td>
                  <td style="width: 15%;text-align: center">{{records?.shiftIn}}</td>
                  <td style="width: 15%;text-align: center">{{records?.shiftOut}}</td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
