<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITART07 : กำหนดกลุ่มการทำงานตามแผนก</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()"> ย้อนกลับ</button>
    <button class="btn btn-primary" (click)="onSave()"> บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.shiftDepId != null" (click)="onBeforeDelete(records)"> ลบ</button>
    <button class="btn btn-default" *ngIf="this.shiftDepId == null" (click)="onProcess()">ประมวลผล</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">กำหนดกลุ่มการทำงานตามพนักงาน</div>
              <div class="card-block">
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>บริษัท</label>
                    <div class="col-md-6">
                      <select #ouCode="ou-select" ou-select data-placeholder="โปรดเลือก" ou-selct [items]="fromLoadObject.ouCode" (change)="changeOuCode($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>กลุ่มการทำงาน</label>
                    <div class="col-md-6">
                      <select #shiftGroup="shift-select" shift-select data-placeholder="โปรดเลือก" shift-select [items]="fromLoadObject.shift"
                        (change)="changeShiftGroup($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right">เวลาเข้างาน</label>
                    <div class="col-md-6">
                      <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="shiftIn">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right">เวลาเลิกงาน</label>
                    <div class="col-md-6">
                      <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="shiftOut">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>แผนก</label>
                    <div class="col-md-6">
                      <select #departmentCode="department-select" department-select data-placeholder="โปรดเลือก" department-select [items]="fromLoadObject.department"
                        (change)="changeDepartmentCode($event)"></select>
                    </div>
                  </div>
                </div>
                <table class="table table-hover table-bordered table-condensed table-sm" *ngIf="this.shiftDepId == null">
                  <thead class="thead-default">
                    <tr>
                      <th style="width: 15%;">รหัสแผนก</th>
                      <th style="width: 30%;">ชื่อแผนก</th>
                      <th style="width: 15%;">กลุ่มการทำงาน</th>
                      <th style="width: 15%;">เวลาเข้างาน</th>
                      <th style="width: 15%;">เวลาเลิกงาน</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let shows of shows">
                      <td style="width: 15%;text-align: center">{{shows?.departmentCode}}</td>
                      <td style="width: 30%;text-align: center">{{shows?.departmentNameLocal}}</td>
                      <td style="width: 15%;text-align: center">{{shows?.shiftCode}}</td>
                      <td style="width: 15%;text-align: center">{{shows?.shiftIn}}</td>
                      <td style="width: 15%;text-align: center">{{shows?.shiftOut}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert back modal component -->
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert success modal component -->
<div bsModal #successModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalSuccessClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalSuccessClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
