.navbar-brand.header  {
  background-color: #FFFFFF;
  border-bottom :#FFFFFF;
  width:165px;
  height:100px;
  margin-top:-1%;
  border-bottom-right-radius:50% 60%;
  border-bottom-left-radius:50% 60%;
  border: 2px solid #099dd8;
  border-right: 2px solid #099dd8;
}

.menu-header:hover {
  cursor:pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px #0b99d6;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.collapse {
  background-color: #0b7eb0;
  position: absolute;
  margin-top: 8%;
  box-shadow: 1px 1px 10px 1px #0b7eb0;
}

.triangle-up {
  height: 0;
  padding-left: 70%;
  padding-bottom: 7%;
  overflow: hidden;
  margin-top: -7%;
}

.triangle-up:after {
  content: "";
  display: block;
  height: 0;
  margin-left:-500px;
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  border-bottom: 500px solid #0b7eb0;
}

.menu-slide {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.menu-slide:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.menu-slide:hover, .menu-slide:focus, .menu-slide:active {
  color: white;
}
.menu-slide:hover:before, .menu-slide:focus:before, .menu-slide:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.menu-icon {
  font-size: 20px !important;
  color: white !important;
}

