<style>
    .my-drop-zone { color:lightgray; font-size: 19em}
    .nv-file-over { color:#00e6e6;}
</style>
 
<div class="container-fluid">
    <div class="row">
    <div class="col-lg-12">
    <div class="card-header">
        <div class="row">
            <span class="text-nowrap">เอกสารอื่นๆ</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>อัพโหลดไฟล์</h3> <h6>ขนาดไฟล์ไม่เกิน 10 MB</h6>
            <label for="uploader-input" style="height: 200px; margin-left: 10px;" ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="fa fa-cloud-upload my-drop-zone">
            </label>
            <input type="file" ng2FileSelect [uploader]="uploader" id="uploader-input" style="display:none" multiple />
        </div>

        <div class="col-md-9" style="margin-bottom: 40px">
            <h3>รายการไฟล์</h3>
            <div class="card">
                <div class="card-block">
                    <table class="table table-bordered table-condensed table-sm">
                        <thead class="thead-default">
                        <tr>
                            <th width="50%">ชื่อไฟล์</th>
                            <th>การจัดการไฟล์</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of rows">
                            <td><strong>{{item.empOtherDocumentName}}</strong></td>
                            <td align="center" nowrap>
                                <button type="button" class="btn btn-success btn-xs"
                                        (click)="downloadFile(item)">
                                    <span class="fa fa-download"></span> ดาวน์โหลด
                                </button>
                                <button type="button" class="btn btn-danger btn-xs"
                                        (click)="deleteFile(item)">
                                    <span class="fa fa-trash-o fa-fw"></span> ลบไฟล์
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" style="background-color: rgba(0, 0, 0, 0.5);" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">
        <div class="form-actions row">
          <div class="col-md-12">
            <div class="form-group">
              {{ alert.message }}
            </div>
          </div>
        </div>
        <div class="form-actions row">
          <button class="btn btn-primary pull-right space-right" type="button" (click)="alertModal.hide()">
            ปิด
          </button>
        </div>
      </div>
    </div>
  </div>
</div>