<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITART01 : กำหนดกลุ่มการลา</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()"> ย้อนกลับ</button>
    <button class="btn btn-primary" (click)="onSave()"> บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.leaveGroupId != null" (click)="onBeforeDelete(records)"> ลบ</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="card-header">กำหนดกลุ่มการลา</div>
              <div class="card-block">
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="margin-top: 6px;" align="right" required>บริษ้ท</label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <select #ouCode="ou-select" ou-select data-placeholder="โปรดเลือก" (change)="changeOuCode($event)" hide-code [items]="fromLoadObject.ouCode"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="margin-top: 6px;" align="right" required>รหัสกลุ่มการลา</label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div *ngIf="this.leaveGroupId != null">
                        <input class="form-control" maxlength="10" placeholder="รหัสสถานะการทำงาน" disabled="disabled" size="14" type="text" formControlName="leaveGroupCode"/>
                      </div>
                      <div *ngIf="this.leaveGroupId == null">
                        <input class="form-control" maxlength="10" placeholder="รหัสกลุ่มการลา" size="14" type="text" formControlName="leaveGroupCode"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="margin-top: 6px;" align="right" required>กลุ่มการลา</label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <input class="form-control" maxlength="100" placeholder="กลุ่มการลา" size="14" type="text" formControlName="leaveGroupDesc"/>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="margin-top: -1px;" align="right">สถานะใช้งาน</label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <input type="checkbox" formControlName="status" value="1" (change)="changCheckbox($event)" checked/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
