<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">SITADT01 : บันทึกข้อมูลการลาของพนักงาน</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" type="button" (click)="createLeave()"><i class="fa fa-plus" align="left"></i> เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">แผนก</p></label>
                  <div class="col-md-7">
                    <select #department="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCode" (change)="changeDepartment($event)"></select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ประเภทการลา</p></label>
                  <div class="col-md-7">
                    <select #leaveType="leave-type-select" leave-type-select [items]="fromLoadObject.leaveType" [currentItem]="objCriteria.leaveTypeCode" (change)="changeLeaveType($event)"></select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ตั้งแต่พนักงาน</p></label>
                  <div class="col-md-7">
                    <select #employeeStart="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeStart" (change)="changeStartEmployee($event)"></select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึงพนักงาน</p></label>
                  <div class="col-md-7">
                    <select #employeeEnd="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeEnd" (change)="changeEndEmployee($event)"></select>
                  </div>
                </div>
              </div>
            </div>
          <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ตั้งแต่วันที่</p></label>
                  <div class="col-md-7">
                    <ss-datepicker #startDate (change)="changeStartDate($event)"></ss-datepicker>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึงวันที่</p></label>
                  <div class="col-md-7">
                    <ss-datepicker #endDate (change)="changeEndDate($event)"></ss-datepicker>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <input class="form-control" id="appendedInputButtons" placeholder="ค้นหาจาก" size="14" type="text" [(ngModel)]="objCriteria.inputSearch">
                  <div class="input-group-btn">
                    <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </div>
                <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">{{ initMsg }}</alert>
              </div>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 12%;"></th>
                  <th style="width: 12%;"></th>
                  <th style="width: 12%;"></th>
                  <th style="width: 12%;"></th>
                  <th style="width: 12%;"></th>
                  <th colspan="2" style="width: 12%;">ลาทั้งหมด</th>
                </tr>
                <tr>
                  <th style="width: 12%;">รหัสพนักงาน</th>
                  <th style="width: 12%;">ชื่อพนักงาน</th>
                  <th style="width: 12%;">วันที่เริ่มขอลา</th>
                  <th style="width: 12%;">วันที่สิ้นสุดขอลา</th>
                  <th style="width: 12%;">ประเภทการลา</th>
                  <th style="width: 12%;">วัน</th>
                  <th style="width: 12%;">ชั่วโมง/นาที</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="childModalShow(records)" style="width: 12%; text-align: center">
                    <u>{{records?.empCode}}</u>
                  </td>
                  <td style="width: 12%; text-align: center">{{records?.empThaiName}}</td>
                  <td style="width: 12%; text-align: center">{{records?.startDate | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 12%; text-align: center">{{records?.endDate | date: 'dd/MM/yyyy'}}</td>
                  <td style="width: 12%; text-align: center">{{records?.leaveTypeDesc}}</td>
                  <td style="width: 12%; text-align: center">{{records?.day }}</td>
                  <td style="width: 12%; text-align: center">{{records?.hours}}:{{records?.mins}}</td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
