<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITADT01 : บันทึกข้อมูลการลาของพนักงาน</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()" style="margin-top: -15px;"> ย้อนกลับ</button>
    <button class="btn btn-primary" (click)="onSave()" style="margin-top: -15px;">บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.leaveId != null" (click)="onBeforeDelete(records)" style="margin-top: -15px;"> ลบ</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">บันทึกข้อมูลการลาของพนักงาน</div>
              <div class="card-block">
                  <div class="form-group row">
                      <div class="col-md-12">
                        <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>บริษัท</label>
                        <div class="col-md-6">
                            <select #ouCode ="ou-select" ou-select data-placeholder="โปรดเลือก" (change)="changeOu($event)" hide-code [items]="fromLoadObject.ouCode"></select>
                        </div>
                      </div>
                    </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>พนักงาน</label>
                    <div class="col-md-6">
                      <select #employee ="employee-select" [currentItem]="objCriteria.employeeCode" employee-select [items]="fromLoadObject.employee"  (change)="changeEmployee($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required> ประเภทการลา </label>
                    <div class="col-md-6">
                      <select #leaveType ="leave-type-select" leave-type-select [items]="fromLoadObject.leaveType" [currentItem]="objCriteria.leaveTypeCode" (change)="changeLeaveType($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: -2px" align="right"> ลาเต็มวัน </label>
                    <div class="col-md-6">
                      <input type="checkbox" formControlName="allDay" value="1" id="checkedMoreSendN" (change)="changCheckboxAllDay($event)" />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right"> วันลาคงเหลือ </label>
                    <div class="col-md-6">
                      <input disabled class="form-control" maxlength="100" size="14" type="text" formControlName="leaveDay">
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>วันที่เริ่มต้น</label>
                    <div class="col-md-6">
                      <ss-datepicker #startDate (change)="changeStardDate($event)" [setValueDate]="objCriteria.startDate"></ss-datepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>วันที่สิ้นสุด</label>
                    <div class="col-md-6">
                      <ss-datepicker #endDate (change)="changeEndDate($event)" [setValueDate]="objCriteria.endDate"></ss-datepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>เวลาเริ่มต้น</label>
                    <div class="col-md-6">
                      <ss-timepicker #startTime (change)="changeStartTime($event)" ></ss-timepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12">
                    <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>เวลาสิ้นสุด</label>
                    <div class="col-md-6">
                      <ss-timepicker #endTime (change)="changeEndTime($event)"></ss-timepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class=" col-md-12 ">
                    <p align="right"><label class="col-md-3 form-control-label" style="margin-top:22px"> ลาทั้งหมด </label></p>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                      <input disabled class="form-control" type="text" formControlName="day">
                    </div>
                    <label class="col-sm-1 col-md-1 col-lg-1 form-control-label" style="margin-top:6px"> วัน &nbsp; </label>
                    <div class="col-sm-1 col-md-1 col-lg-1 ">
                      <input disabled class="form-control" type="text" formControlName="hours">
                    </div>
                    <label class="col-sm-1 col-md-1 col-lg-1 form-control-label" style="margin-top:6px"> ชั่วโมง / นาที </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert back modal component -->
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert success modal component -->
<div bsModal #successModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalSuccessClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalSuccessClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
