<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITART02 : การกำหนดประเภทการลา</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()" style="margin-top: -15px;"> ย้อนกลับ</button>
    <button class="btn btn-primary" (click)="onSave()" style="margin-top: -15px;"> บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.leaveTypeId != null" (click)="onBeforeDelete(records)" style="margin-top: -15px;"> ลบ</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="card-header">การกำหนดประเภทการลา</div>
              <div class="card-block">
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 5px;" align="right" required>บริษัท</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <select required #ouCode="ou-select" ou-select [items]="fromLoadObject.ouCode" (change)="changeOuCode($event)"></select>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 5px;" align="right" required>รหัสประเภทการลา</label>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <div *ngIf="this.leaveTypeId != null">
                        <input class="form-control" maxlength="10" placeholder="รหัสประเภทการลา" disabled="disabled" size="14" type="text" formControlName="leaveTypeCode"/>
                      </div>
                      <div *ngIf="this.leaveTypeId == null">
                        <input class="form-control" maxlength="10" placeholder="รหัสประเภทการลา" size="14" type="text" formControlName="leaveTypeCode"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 5px;" align="right" required>ชื่อประเภทการลา</label>
                    <div class="col-sm-4 col-md-4 col-lg-3">
                      <textarea class="form-control" rows="7" formControlName="leaveTypeDesc"></textarea>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 5px;" align="right" required>กลุ่มการลา</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <select required #leaveGroupCode="leave-group-select" leave-group-select [items]="fromLoadObject.leaveGroup" (change)="changeLeaveGroup($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top: 5px;" align="right">ประเภทพนักงาน</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <select required #leaveEmpId="emp-type-select" emp-type-select [items]="fromLoadObject.empType" (change)="changeEmpType($event)"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" align="right" required>จำนวนวันลา</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <input number-only-field type="text" maxlength="2" formControlName="leaveDay" [dat]="leaveDay"/> วัน
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" align="right">สถานะใช้งาน</label>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                      <input type="checkbox" formControlName="status" value="1" (change)="changCheckbox($event)" checked/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card-header">ผู้มีสิทธิหยุดงาน</div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-10">
                      <label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:26px"><p align = "right" >เพศ</p></label>
                      <div class="col-sm-2 col-md-2 col-lg-2" style="margin-top:20px">
                        <select required #sex="local-select" local-select [items]="fromLoadObject.sex" (change)="changeSex($event)"></select>
                      </div>
                      <label class="col-sm-1 col-md-1 col-lg-1 form-control-label" style="margin-top:25px"><p align = "right" >อายุงาน</p></label>
                      <div class="col-sm-2 col-md-2 col-lg-2" style="margin-top:20px">
                        <input number-only-field type="text" class="from-control" maxlength="2" formControlName="workAge" [dat]="workAge"/>                        ปี
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="card-header">เงื่อนไขการลา</div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-10">
                      <label class="col-sm-6 col-md-6 col-lg-6 form-control-label" style="margin-top:20px"><p align = "right" >ลาได้ครั้งเดียวตลอดอายุงาน</p></label>
                      <div class="form-group row">
                        <form>
                          <div class="col-md-2" style="margin-top:20px">
                            <input type="radio" name="oneTime" value="1" [(ngModel)]="oneTime" (change)="changOneTimeYes()"/>ใช่
                          </div>
                          <div class="col-md-2" style="margin-top:20px">
                            <input type="radio" name="oneTime" value="0" [(ngModel)]="oneTime" (change)="changOneTimeNot()"/>ไม่ใช่
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-10">
                    <label class="col-sm-6 col-md-6 col-lg-6 form-control-label"><p align = "right" >ลาเต็มวัน</p></label>
                    <div class="form-group row">
                      <form>
                        <div class="col-md-2">
                          <input type="radio" name="leaveAllDay" value="1" [(ngModel)]="leaveAllDay" (change)="changLeaveAllDayYes()"/>ใช่
                        </div>
                        <div class="col-md-2">
                          <input type="radio" name="leaveAllDay" value="0" [(ngModel)]="leaveAllDay" (change)="changLeaveAllDayNot()"/>ไม่ใช่
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-10">
                    <label class="col-sm-6 col-md-6 col-lg-6 form-control-label"><p align = "right" >วิธีนับวันลา</p></label>
                    <div class="form-group row">
                      <form>
                        <div class="col-md-2">
                          <input type="radio" name="inChol" value="1" [(ngModel)]="inChol" (change)="changInCholYes()"/>นับรวมวันหยุด
                        </div>
                        <div class="col-md-2">
                          <input type="radio" name="inChol" value="0" [(ngModel)]="inChol" (change)="changInCholNot()"/>ไม่นับรวมวันหยุด
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">เงินหัก</div>
                  <div class="row">
                  </div>
                </div>
                <table class="table table-bordered table-condensed table-sm">
                  <thead class="thead-default">
                    <tr>
                      <th class="text-xs-center width3">รหัสเงินหัก</th>
                      <th class="text-xs-center width3">อัตราเงินหัก</th>
                      <th style="width:40px;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let record of rows" [class.row-remove]="record.rowStatus == 'D'" [class.row-add]="record.rowAdded">
                      <td class="align-middle text-xs-left">
                        <div [hidden]="record.rowAdded && record.rowStatus != 'D'">
                          <select income-type-select [items]="fromLoadObject.incomDeduct" [currentItem]="record.incomeDeductId" (change)="changeIncomDeductId($event, record)"></select>
                        </div>
                        <div [hidden]="!record.rowAdded || record.rowStatus == 'D'">
                          <select income-type-select [items]="fromLoadObject.incomDeduct" [currentItem]="record.incomeDeductId" (change)="changeIncomDeductId($event, record)"></select>
                        </div>
                      </td>
                      <td class="align-middle text-xs-right">
                        <div [hidden]="record.rowStatus != 'D'">{{record.rate | number}}</div>
                        <div [hidden]="record.rowStatus == 'D'">
                          <input type="text" class="form-control text-xs-right" number-field [(dat)]="record.rate" (changeNumber)="changeRate($event, record)"/>
                        </div>
                      </td>
                      <td class="align-middle text-xs-center">
                        <ss-toggle (click)="delRow(record)"></ss-toggle>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="1" class="align-middle text-xs-right">รวม</td>
                      <td class="align-middle text-xs-right">{{totalAmount | number}}</td>
                      <td class="align-middle text-xs-center">
                        <div class="form-actions">
                          <button class="btn btn-primary btn-sm" type="button" (click)="addRow()"><span class="fa fa-plus"></span></button>
                        </div>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"varia-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">
        {{ alert.msg }}
      </div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Alert back modal component -->
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">
        {{ alert.msg }}
      </div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">
        {{ alert.msg }}
      </div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
