<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">SITART02 : การกำหนดประเภทการลา</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" type="button" (click)="createLeaveType()"> เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align = "right">กลุ่มการลา</p></label>
                <div class="col-md-7">
                  <select #leaveGroup="leave-group-select" leave-group-select [items]="fromLoadObject.leaveGroup" [currentItem]="objCriteria.leaveGroupCode" (change)="changeLeaveGroup($event)"></select>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-md-2 form-control-label" style="margin-top: 6px"><p align = "right">ประเภทการลา</p></label>
                <div class="col-md-7">
                  <select #leaveType="leave-type-select" leave-type-select [items]="fromLoadObject.leaveType" [currentItem]="objCriteria.leaveTypeCode" (change)="changeLeaveType($event)"></select>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <input class="col-md-12 form-control" id="appendedInputButtons" style="width: 97%" placeholder="ค้นหาโดย" size="14" type="text" [(ngModel)]="objCriteria.inputSearch"/>
                <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
              <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">
                {{ initMsg }}
              </alert>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 7%;">รหัสการลา</th>
                  <th style="width: 5%;">ชื่อประเภทการลา</th>
                  <th style="width: 5%;">รหัสกลุ่มการลา</th>
                  <th style="width: 5%;">ชื่อกลุ่มการลา</th>
                  <th style="width: 5%;">สถานะการใช้งาน</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="childModalShow(records)" style="width: 20%; text-align: center">
                    <u> {{records?.leaveTypeCode}}</u>
                  </td>
                  <td style="width: 20%; text-align: center">{{records?.leaveTypeDesc}}</td>
                  <td style="width: 20%; text-align: center">{{records?.leaveGroupCode}}</td>
                  <td style="width: 20%; text-align: center">{{records?.leaveGroupDesc}}</td>
                  <td style="width: 10%; text-align: center">
                    <div *ngIf="records?.status == 0"> <input type="checkbox" disabled="disabled"/> </div>
                    <div *ngIf="records?.status == 1"> <input type="checkbox" disabled="disabled" checked/> </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
