<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap" style="margin-top: 8px;">SITADT06 : รวบรวมข้อมูลการมาปฏิบัติงานและการลาประจำงวด</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <span class="space-right" style="margin-right: 30px;"></span>
            <!--<button class="btn btn-success" type="button" (click)="createMonthly()" style="margin-top: 1px;">เพิ่ม</button>-->
            <button class="btn btn-primary" type="button" (click)="collectModal.show()" style="margin-top: 1px;">รวบรวมข้อมูล</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ประจำปี</p></label>
                  <div class="col-md-3">
                    <select #periodYear="period-year-select" period-year-select [items]="fromLoadObject.periodYear" (change)="changeYearGroup($event)"></select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">งวดที่</p></label>
                  <div class="col-md-3">
                    <select #period="period-select" period-select [items]="fromLoadObject.period" (change)="changePeriodGroup($event)"></select>
                  </div>
                  <div class="col-md-6">
                    <input disabled class="form-control" maxlength="100" size="14" type="text" [(ngModel)]="objCriteria.showDate" value="{{startDate | date:'dd/MM/yyyy'}} - {{endDate | date:'dd/MM/yyyy'}}"/>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ตั้งแต่แผนก</p></label>
                  <div class="col-md-7">
                    <select #departmentStart="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeStart"
                      (change)="changeStartDepartment($event)"></select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึงแผนก</p></label>
                  <div class="col-md-7">
                    <select #departmentEnd="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeEnd"
                      (change)="changeEndDepartment($event)"></select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ตั้งแต่พนักงาน</p></label>
                  <div class="col-md-7">
                    <select #employeeStart="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeStart"
                      (change)="changeStartEmployee($event)"></select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">ถึงพนักงาน</p></label>
                  <div class="col-md-7">
                    <select #employeeEnd="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeEnd"
                      (change)="changeEndEmployee($event)"></select>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="form-group row">
              <div class="col-md-6">
                <label class="col-md-3 form-control-label" style="margin-top: 6px"><p align="right">กลุ่มการทำงาน</p></label>
                <div class="col-md-7">
                  <select #shiftGroup="shift-select" shift-select [items]="fromLoadObject.shift" [currentItem]="objCriteria.shiftGroup" (change)="changeShiftGroup($event)"></select>
                </div>
              </div>
            </div>-->
            <div class="form-group row">
              <div class="col-md-12">
                <div class="input-group">
                  <input class="form-control" id="appendedInputButtons" placeholder="ค้นหาจาก" size="14" type="text" [(ngModel)]="objCriteria.inputSearch">
                  <div class="input-group-btn">
                    <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </div>
                <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">{{ initMsg }}</alert>
              </div>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 8%;">รหัสแผนก</th>
                  <th style="width: 15%;">ชื่อแผนก</th>
                  <th style="width: 7%;">รหัสพนักงาน</th>
                  <th style="width: 15%;">ชื่อพนักงาน</th>
                  <th style="width: 15%;">สถานะการทำงาน</th>
                  <th style="width: 15%;">ประเภทการลา</th>
                  <th style="width: 5%;">ครั้ง</th>
                  <th style="width: 5%;">วัน</th>
                  <th style="width: 5%;">ชั่วโมง</th>
                  <th style="width: 5%;">นาที</th>
                  <th style="width: 5%;">ลบ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td style="width: 8%; text-align: center">{{records?.departmentCode}}</td>
                  <td style="width: 15%; text-align: center">{{records?.departmentNameLocal}}</td>
                  <td style="width: 7%; text-align: center">{{records?.empCode}}</td>
                  <td style="width: 15%; text-align: center">{{records?.empThaiName}}</td>
                  <td style="width: 15%; text-align: center">{{records?.workingCode}} {{records?.workingDesc}}</td>
                  <td style="width: 15%; text-align: center">{{records?.leaveTypeCode}} {{records?.leaveTypeDesc}}</td>
                  <td style="width: 5%; text-align: center">{{records?.times}}</td>
                  <td style="width: 5%; text-align: center">{{records?.days}}</td>
                  <td style="width: 5%; text-align: center">{{records?.hours}}</td>
                  <td style="width: 5%; text-align: center">{{records?.mins}}</td>
                  <td style="width: 5%; text-align: center">
                    <button class="btn btn-danger btn-sm" type="button" (click)="onBeforeDelete(records.monthlyId)"><span class="fa fa-remove"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert collect modal component -->
<div bsModal #alertCollectModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" style="z-index: 1250">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertCollectModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertCollectModalClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Data collect component -->
<div bsModal #collectModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="collectModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
        <h4 class="modal-title">รวบรวมข้อมูล</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label">ประจำปี</label>
              <div class="col-md-5">
                <select #periodYearA="period-year-select" period-year-select [items]="fromLoadObject.periodYear" (change)="changeYearGroupA($event)"></select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label">งวดที่</label>
              <div class="col-md-5">
                <select #periodA="period-select" period-select [items]="fromLoadObject.period" (change)="changePeriodGroupA($event)"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label">ตั้งแต่แผนก</label>
              <div class="col-md-8">
                <select #departmentStartA="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeStartA"
                  (change)="changeStartDepartmentA($event)"></select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label">ถึงแผนก</label>
              <div class="col-md-8">
                <select #departmentEndA="department-select" department-select [items]="fromLoadObject.department" [currentItem]="objCriteria.departmentCodeEndA"
                  (change)="changeEndDepartmentA($event)"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label">ตั้งแต่พนักงาน</label>
              <div class="col-md-8">
                <select #employeeStartA="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeStartA"
                  (change)="changeStartEmployeeA($event)"></select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-md-4 form-control-label">ถึงพนักงาน</label>
              <div class="col-md-8">
                <select #employeeEndA="employee-select" employee-select [items]="fromLoadObject.employee" [currentItem]="objCriteria.employeeCodeEndA"
                  (change)="changeEndEmployeeA($event)"></select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions row">
          <div class="col-md-2 offset-md-10">
            <button class="btn btn-primary" type="submit" (click)="dataCollect()">ประมวลผล</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert success delete modal component -->
<div bsModal #successDeleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertSuccessDeleteClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertSuccessDeleteClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
