<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<header class="navbar header" style="background-color: #0c99d5;box-shadow: 2px 3px 7px #a4a4a4;">
  <div class="container-fluid col-sm-12 col-lg-12 col-md-12">
    <div class="col-sm-2 col-lg-2 col-md-2">
      <a class="navbar-brand header" routerLinkActive="active" [routerLink]="['/dashboard']"></a>
    </div>
    <div class="col-sm-10  col-md-10 col-lg-10">
      <div class="col-sm-9 col-lg-9 col-md-9">
        <div class="offset-lg-10 col-lg-2 menu-header" style="text-align:center;">
          <a style="color:white;text-decoration: none;" data-toggle="collapse" aria-expanded="false" aria-controls="collapse" class="navbar-toggle"
            (click)="show()">
    		<i class="fa fa-user"></i><b style="margin-left: 10px;">ข้อมูลผู้ใช้</b></a>
          <div class="arrow-up"></div>
        </div>
        <div class="collapse offset-lg-8 col-lg-4">
          <div class="triangle-up"></div>
          <div class="col-lg-3">
            <i class="fa fa-user-circle" style="font-size: 50px;color: whitesmoke;margin-top: 50%;"></i>
          </div>
          <div class="col-lg-9">
            <div class="col-sm-3 col-md-3 col-lg-12">
              <b style="color:navajowhite;color:white;">ปฏิภาณ</b>
            </div>

          </div>
          <div class="col-sm-3 col-md-3 col-lg-12">
            <i style="color:navajowhite"></i><b style=" color:white;">ตำแหน่ง :</b>
            <b style="color:navajowhite;color:white;"> โปรแกรมเมอร์ </b>
          </div>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <div class="offset-lg-2 col-lg-10 menu-header" style="text-align:center;">
          <a routerLinkActive="active" [routerLink]="['/login']" style="color:white;text-decoration: none;" (click)="logout()">
    		<i class="fa fa-lock"></i><b style="margin-left: 10px;">ลงชื่อออก</b></a>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-12">
      <div class="col-lg-5 offset-lg-1" style="padding-right:4%">
        <div class="card" class="bounce-in">
          <a routerLinkActive="active" [routerLink]="['/pm']" class="underline-link">
            <div class="card-block" style="padding: 1rem;">
              <i class="fa fa-users" id="circle"></i>
            </div>
            <div class="card-block" style="background-color:white">
              <h5 class="module-title">ระบบทะเบียนประวัติพนักงาน</h5>
            </div>
          </a>
        </div>
      </div>
      <div class="col-lg-5" style="padding-left:4%">
        <div class="card" class="bounce-in">
          <a routerLinkActive="active" [routerLink]="['/ta']" class="underline-link">
            <div class="card-block" style="padding: 1rem;">
              <i class="fa fa-dollar" id="circle"></i>
            </div>
            <div class="card-block" style="background-color:white">
              <h5 class="module-title">ระบบลงเวลาการทำงาน</h5>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
