html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Raleway',sans-serif;
  position: relative;
}

.container {
  padding-top: 20px;
}

#circle {
  font-size:35px;
  color:white;
  width:100%;
  text-align:center;
}

.underline-link {
  text-decoration: none;
}

.module-title {
  text-align: center;
  color: #0b9ad6;
}

/* Bounce In */
.bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  box-shadow: 1px 3px 10px #007fb1;
  height: 25%;
  width:100%;
  background-color: #0c99d5;
}

.bounce-in:hover, .bounce-in:focus, .bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.navbar-brand.header  {
  background-color: #FFFFFF;
  border-bottom :#FFFFFF;
  width:165px;
  height:100px;
  margin-top:-1%;
  border-bottom-right-radius:50% 60%;
  border-bottom-left-radius:50% 60%;
  border: 2px solid #099dd8;
  border-right: 0px solid #099dd8;
}

.menu-header:hover {
  cursor:pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 10px #0b99d6;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.collapse {
  background-color: #0b7eb0;
  position: absolute;
  margin-top: 8%;
  box-shadow: 1px 1px 10px 1px #0b7eb0;
}

.triangle-up {
  height: 0;
  padding-left: 70%;
  padding-bottom: 7%;
  overflow: hidden;
  margin-top: -7%;
}

.triangle-up:after {
  content: "";
  display: block;
  height: 0;
  margin-left:-500px;
  border-left: 500px solid transparent;
  border-right: 500px solid transparent;
  border-bottom: 500px solid #0b7eb0;
}
