<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap">SITART03 : กำหนดกลุ่มการทำงาน</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" type="button" (click)="createShift()"> เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group">
              <div class="input-group">
                <input class="form-control" id="appendedInputButtons" placeholder="ค้นหา" size="14" type="text" [(ngModel)]="objCriteria.inputSearch"/>
                <div class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
              </div>
              <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">
                {{ initMsg }}
              </alert>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 20%;">รหัสกะการทำงาน</th>
                  <th style="width: 20%;">รายละเอียด</th>
                  <th style="width: 15%;">เวลาเข้า</th>
                  <th style="width: 15%;">เวลาออก</th>
                  <th style="width: 5%;">สถานะ</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="childModalShow(records)" style="width: 20%; text-align: center">
                    <u> {{records?.shiftCode}} </u>
                  </td>
                  <td style="width: 20%; text-align: center">{{records?.shiftDesc}}</td>
                  <td style="width: 15%; text-align: center">{{records?.shiftIn}}</td>
                  <td style="width: 15%; text-align: center">{{records?.shiftOut}}</td>
                  <td style="width: 5%; text-align: center">
                    <div *ngIf="records?.status == 0">
                      <input type="checkbox" disabled="disabled" />
                    </div>
                    <div *ngIf="records?.status == 1">
                      <input type="checkbox" disabled="disabled" checked />
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
