<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITART03 : กำหนดกลุ่มการทำงาน</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()"> ย้อนกลับ</button>
    <button class="btn btn-primary" (click)="onSave()"> บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.shiftId != null" (click)="onBeforeDelete(records)"> ลบ</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
              <div class="card-header">กำหนดกลุ่มการทำงาน</div>
              <div class="card-block">
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="margin-top: 6px;" align="right" required>บริษัท</label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <select #ouCode="ou-select" ou-select data-placeholder="โปรดเลือก" (change)="changeOu($event)" hide-code [items]="fromLoadObject.ouCode"></select>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="margin-top: 6px;" align="right" required>รหัสกะการทำงาน</label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <input class="form-control" maxlength="10" placeholder="รหัสกะการทำงาน" size="14" type="text" formControlName="shiftCode" />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="margin-top: 6px;" align="right">รายละเอียด</label>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <input class="form-control" maxlength="100" placeholder="รายละเอียด" size="14" type="text" formControlName="shiftDesc" />
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="card-header" style="margin-top: 0%">
                    <div aria-label="Toolbar with button groups" class="btn-toolbar pull-left" role="toolbar">
                      <div aria-label="Second group" class="btn-group" role="group">
                        OT ก่อนเริ่มงาน
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-10">
                    <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:22px">เวลาเริ่ม OT</label></p>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <ss-timepicker #otBeforeIn (change)="changeOtBeforeIn($event)"></ss-timepicker>
                    </div>
                    <p align="right"><label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:8px">เวลาเลิก OT</label></p>
                    <div class="col-sm-2 col-md-2 col-lg-2 ">
                      <ss-timepicker #otBeforeOut (change)="changeOtBeforeOut($event)"></ss-timepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="card-header" style="margin-top: 0%">
                    <div aria-label="Toolbar with button groups" class="btn-toolbar pull-left" role="toolbar">
                      <div aria-label="Second group" class="btn-group" role="group">
                        เวลาทำงาน
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-10">
                    <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:22px" required>เวลาเข้างาน</label></p>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <ss-timepicker #shiftIn (change)="changeShiftIn($event)"></ss-timepicker>
                    </div>
                    <p align="right"><label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:8px" required>เวลาเลิกงาน</label></p>
                    <div class="col-sm-2 col-md-2 col-lg-2 ">
                      <ss-timepicker #shiftOut (change)="changeShiftOut($event)"></ss-timepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-10">
                   <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:22px" required>เวลาพักเริ่มต้น</label></p>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <ss-timepicker #breakIn (change)="changeBreakIn($event)"></ss-timepicker>
                    </div>
                    <p align="right"><label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:8px" required>เวลาพักสิ้นสุด</label></p>
                    <div class="col-sm-2 col-md-2 col-lg-2 ">
                      <ss-timepicker #breakOut (change)="changeBreakOut($event)"></ss-timepicker>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="card-header" style="margin-top: 0%">
                    <div aria-label="Toolbar with button groups" class="btn-toolbar pull-left" role="toolbar">
                      <div aria-label="Second group" class="btn-group" role="group">
                        OT หลังเลิกงาน
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-12 col-md-12 col-lg-10">
                    <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:22px">เวลาเริ่ม OT</label></p>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                      <ss-timepicker #otAfterIn (change)="changeOtAfterIn($event)"></ss-timepicker>
                    </div>
                    <p align="right"><label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:8px">เวลาเลิก OT</label></p>
                    <div class="col-sm-2 col-md-2 col-lg-2 ">
                      <ss-timepicker #otAfterOut (change)="changeOtAfterOut($event)"></ss-timepicker>
                    </div>
                  </div>
                </div>
                <div class="modal-header" style="margin-bottom: 4%">
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-11">
                      <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:22px" required>จำนวนชั่วโมงของการทำงานต่อวัน</label></p>
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <input class="form-control" maxlength="10" placeholder="จำนวนชั่วโมงของการทำงานต่อวัน" size="14" type="text" formControlName="workHour" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-11">
                      <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:22px">จำนวนนาทีที่ให้เข้างานสาย</label></p>
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <input [dat]="minLate" number-field [format]="'0'" [allowNegative]="false" maxlength="2" class="form-control text-xs-left" placeholder="จำนวนนาทีที่ให้เข้างานสาย" size="14" type="text" value="{{minLate}}" formControlName="minLate" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-11">
                      <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:22px">จำนวนนาทีที่ให้เลิกงานก่อน</label></p>
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <input [dat]="minBackHome" number-field [format]="'0'" [allowNegative]="false" maxlength="2" class="form-control text-xs-left" placeholder="จำนวนนาทีที่ให้เลิกงานก่อน" size="14" type="text" value="{{minBackHome}}" formControlName="minBackHome" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-11">
                      <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:22px">จำนวนนาทีที่คิดขาดงาน</label></p>
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <input [dat]="minAbsence" number-field [format]="'0'" [allowNegative]="false" maxlength="2" class="form-control text-xs-left" placeholder="จำนวนนาทีที่คิดขาดงาน" size="14" type="text" value="{{minAbsence}}" formControlName="minAbsence" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                      <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:11px">วันที่ทั้งหมด</label></p>
                      <div class="col-sm-2 col-md-2 col-lg-1">
                        <input type="checkbox" formControlName="workallday" value="0" (change)="changCheckboxallday($event)" />
                      </div>
                      <label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:-1px">วันจันทร์</label>
                      <div class="col-sm-2 col-md-2 col-lg-1">
                        <input type="checkbox" formControlName="workMonday" value="0" (change)="changCheckboxmonday($event)" />
                      </div>
                      <label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:-1px">วันอังคาร</label>
                      <div class="col-sm-2 col-md-2 col-lg-1">
                        <input type="checkbox" formControlName="workTuesday" value="0" (change)="changCheckboxtuesday($event)" />
                      </div>
                      <label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:-1px">วันพุธ</label>
                      <div class="col-sm-2 col-md-2 col-lg-1">
                        <input type="checkbox" formControlName="workWednesday" value="0" (change)="changCheckboxwednesday($event)" />
                      </div>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                      <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:12px">วันพฤหัสบดี</label></p>
                      <div class="col-sm-2 col-md-2 col-lg-1">
                        <input type="checkbox" formControlName="workThursday" value="0" (change)="changCheckboxthursday($event)" />
                      </div>
                      <label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:-2px">วันศุกร์</label>
                      <div class="col-sm-2 col-md-2 col-lg-1">
                        <input type="checkbox" formControlName="workFriday" value="0" (change)="changCheckboxfriday($event)" />
                      </div>
                      <label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:-2px">วันเสาร์</label>
                      <div class="col-sm-2 col-md-2 col-lg-1">
                        <input type="checkbox" formControlName="workSaturday" value="0" (change)="changCheckboxsaturday($event)" />
                      </div>
                      <label class="col-sm-2 col-md-2 col-lg-1 form-control-label" style="margin-top:-2px">วันอาทิตย์</label>
                      <div class="col-sm-2 col-md-2 col-lg-1">
                        <input type="checkbox" formControlName="workSunday" value="0" (change)="changCheckboxasunday($event)" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                      <p align="right"><label class="col-sm-5 col-md-5 col-lg-5 form-control-label" style="margin-top:14px">สถานะใช้งาน</label></p>
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <input type="checkbox" formControlName="status" value="0" (change)="changCheckboxstatus($event)" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
            ตกลง
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
            ตกลง
          </button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
            ยกเลิก
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
