<div class="animated fadeIn">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-xs-12 text-nowrap">ตั้งค่าวันลาพนักงานพนักงาน</div>
            </div>
          </div>
        </div>
      </div>
      
        <!-- Start Button task -->
      <div class="row">
        <span class="space-right" style="margin-right: 31px;"></span>
        <button class="btn btn-primary" (click)="onBack()">ย้อนกลับ</button>
        <button class="btn btn-primary" *ngIf="this.emp_id == null" (click)="onSave()">บันทึก</button>
        <button class="btn btn-danger" *ngIf="this.emp_id != null" (click)="onBeforeDelete(records)">ลบ</button>
      </div>
      
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
             <div class="card-header">ตั้งค่าวันลาพนักงานพนักงาน</div>
              <div class="card-block">
                <form [formGroup]="form">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-body">
                     <div class="form-group row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>ประเภทการลา</label>
                          <div class="col-sm-9 col-md-9 col-lg-9">
                                <select #resign="resign-select" resign-select hide-code [items]="fromLoadObject.resign" [currentItem]="objCriteria.resign_reason_code" (change)="changeResign($event)"></select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <label class="col-sm-3 col-md-3 col-lg-3 form-control-label" style="line-height: 35px; text-align: right" required>amount</label>
                  <div class="col-sm-9 col-md-9 col-lg-9">
                    <input class="form-control"  maxlength="100" placeholder="amount" size="14" type="text" formControlName="amount"/> 
                  </div>
                </div>
              </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-block">
                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control" id="appendedInputButtons" placeholder="ค้นหา" size="14" maxlength="50"
                            type="text" [(ngModel)]="objCriteria.inputSearch"/>
                        <div class="input-group-btn">
                          <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                      </div>
                      <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">
                        {{ initMsg }}
                      </alert>
                    </div>
                  </div>
                  <div class="card-block table-responsive" style="margin-top: -40px">
                    <table class="table table-hover table-bordered table-condensed table-sm">
                      <thead class="thead-default">
                        <tr>
                                <th style="width: 30%;">ประเภทการลา</th>
                                <th style="width: 30%;">จำนวนวันที่สามารถลาได้</th>
                                <th style="width: 25%;">ลบ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let records of records">
                          <td style="width: 30%; text-align: center">{{records?.emp_code}}</td>
                          <td style="width: 30%; text-align: center">{{records?.emp_first_name}} {{records?.emp_last_name}}</td>
                          <td style="width: 25%;text-align: center">
                            <button class="btn btn-danger" (click)="onBeforeDelete(records)">ลบ</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
      <!--Alert delete modal component -->
      <div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" style="margin-top: 200px">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="modal-title">{{ alert.title }}</h5>
            </div>
            <div class="modal-body">{{ alert.msg }}</div>
            <div class="form-actions row">
              <div class="col-md-2 offset-md-2">
                <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">
                      ตกลง
                  </button>
              </div>
              <div class="col-md-2 offset-md-3">
                <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">
                      ยกเลิก
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Alert modal save component -->
      <div bsModal #alertModalSave="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="alertModalSave.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="modal-title">ยืนยันการบันทึกข้อมูล</h5>
            </div>
            <div class="modal-body">
              <div class="form-actions row">
                <div class="col-md-12">
                  <div class="form-group">
                    ต้องการที่จะบันทึกข้อมูลใช่หรือไม่
                  </div>
                </div>
              </div>
              <div class="form-actions row">
                <button class="btn btn-danger pull-right space" type="button" (click)="alertModalSave.hide()">
                  ยกเลิก
                </button>
                <button class="btn btn-primary pull-right space" type="button" (click)="onSave()">
                  ตกลง
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Alert modal component -->
        <div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="margin-top: 200px">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="modal-title">{{ alert.title }}</h5>
            </div>
            <div class="modal-body">{{ alert.msg }}</div>
              <div class="form-actions row" >
                <div class="col-md-2 offset-md-8">
                  <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">
                      ตกลง
                  </button>
                </div>
              </div>
          </div>
        </div>
      </div>
      
       <!--Alert back modal component -->
        <div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" style="margin-top: 200px">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" (click)="alertModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h5 class="modal-title">{{ alert.title }}</h5>
            </div>
            <div class="modal-body">{{ alert.msg }}</div>
              <div class="form-actions row" >
                <div class="col-md-2 offset-md-2">
                  <button class="btn btn-success" type="submit" (click)="backPage()" style="margin-bottom: 10px;">
                      ตกลง
                  </button>
                </div>
                <div class="col-md-2 offset-md-3">
                  <button class="btn btn-danger" type="submit" (click)="backModal.hide()" style="margin-bottom: 10px; margin-left: -15px;">
                      ยกเลิก
                  </button>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      