//$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
//@import '~bootstrap-sass/assets/stylesheets/bootstrap';

//$enable-flex: true;
//@import '~bootstrap/scss/bootstrap';

// $fa-font-path: '~font-awesome/fonts/';
// @import '~font-awesome/scss/font-awesome';


