body {
  min-height: auto;
}

label, th {
	&[required] {
		&::after{
			content: " *";
			color: red;
		}
	}
}

.main .container-fluid {
  padding: 0 15px;
}


thead th {
  text-align: center;
}

.row-remove {
  text-decoration: line-through;
}

.row-add {
  font-weight: bold;
}

// table-fixed

/*.table-fixed table {
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tfoot, .table-fixed tr, .table-fixed td, .table-fixed th { display: block; }

.table-fixed tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.table-fixed thead th {
  height: 35px;
  text-align: center;
}

.table-fixed tbody {
  overflow-y: auto;
}

.table-fixed tfoot tr {
  height: 35px;
}

.table-fixed thead {
  // fallback
}

.table-fixed tbody td, .table-fixed tfoot td, .table-fixed thead th {
  float: left;
}*/

//selectlize
.selectize-control::before {
  -moz-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  content: ' ';
  z-index: 2;
  position: absolute;
  display: block;
  top: 9px;
  right: 35px;
  width: 16px;
  height: 16px;
  background: url(../assets/img/spinner.gif);
  background-size: 16px 16px;
  opacity: 0;
}
.selectize-control.loading::before {
  opacity: 0.4;
}

 .card-nv-file-over {
  background-color: #0c99d5;
  background-image: linear-gradient(to bottom,transparent 0,transparent 100px),linear-gradient(to bottom,rgba(12,153,213,0) 0,#0c99d5 100%,#fff 0),repeating-linear-gradient(118deg,rgba(12,153,213,0) 0,#00a7e0 50px,rgba(12,153,213,0) 120px,#00a7e0 110px,rgba(12,153,213,0) 180px,#00a7e0 120px) ;
  border-color: #00D9E8;
  border-radius: 15px 50px 30px; }
