
.card {
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
  0px 10px 20px rgba(0,0,0,0.05),
  0px 20px 20px rgba(0,0,0,0.05),
  0px 30px 20px rgba(0,0,0,0.05);
}
.card-header{
  background-color: #addced;
}
table:not(.clear) tr:hover td {
  background-color:#B4DCF9 !important;
}
.card-inverse {
      background: #03A3DC;
      color: white;
    }
table:not(.clear) {
  border-collapse: collapse !important;
  border: 1px solid #eee !important;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 30px 30px rgba(0,0,0,0.05) !important;
  tr {
     &:hover {
      background: #f4f4f4 !important;
      td {
        color: #555 !important;
      }
    }
  }
  th, td {
    color: #283349 !important;
    border: 1px solid #eee !important;
    padding: 10px 0px !important;
    border-collapse: collapse !important;
    background-color: #ECF3F6 !important;
  }
  th {
    background: #03A3DC !important;
    color: #283349 !important;
    text-transform: uppercase !important;
    &.last {
      border-right: none !important;
    }
  }
}

.thead-default th {
    color: white;
    background-color: #04a3dc;
}

.table-bordered th, .table-bordered td {
    border: 1px solid transparent;
}

.space {
  margin-right: 10px;
}
.space-right {
  margin-right: 31px;
}

