<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-xs-12 text-nowrap">SITART05 : กำหนดวันหยุดประจำปี</div>
      </div>
    </div>
  </div>
  <div class="row">
    <span class="space-right" style="margin-right: 30px;"></span>
    <button class="btn btn-primary" (click)="onBack()" style="margin-top: -15px;"> ย้อนกลับ</button>
    <button class="btn btn-primary" (click)="onSave()" style="margin-top: -15px;"> บันทึก</button>
    <button class="btn btn-danger" *ngIf="this.holidayId != null" (click)="onBeforeDelete(records)" style="margin-top: -15px;"> ลบ</button>
    <form [formGroup]="form">
      <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">กำหนดวันหยุดประจำปี</div>
              <div class="card-block">
                <div class="modal-dialog modal-lg">
                  <div class="modal-body">
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>บริษัท</label>
                        <div class="col-md-9">
                          <select #ouCode="ou-select" ou-select data-placeholder="โปรดเลือก" ou-selct [items]="fromLoadObject.ouCode" (change)="changeOuCode($event)"></select>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>วันที่</label>
                        <div class="col-md-9">
                          <ss-datepicker #holidayDate [setValueDate]="objCriteria.holidayDate" (change)="changeHolidayDateA($event)"></ss-datepicker>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-md-12">
                        <label class="col-md-3 form-control-label" style="margin-top: 6px" align="right" required>รายละเอียด</label>
                        <div class="col-md-9">
                          <input class="form-control" maxlength="100" placeholder="กรอกรายละเอียด" size="14" type="text" formControlName="holidayDesc"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalClose()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert back modal component -->
<div bsModal #backModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="backModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="backModalBack()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="backModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Alert delete modal component -->
<div bsModal #deleteModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="deleteModalClose()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-2">
          <button class="btn btn-success" type="submit" (click)="deleteModalConfirm()" style="margin-bottom: 10px;">ตกลง</button>
        </div>
        <div class="col-md-2 offset-md-3">
          <button class="btn btn-danger" type="submit" (click)="deleteModalClose()" style="margin-bottom: 10px; margin-left: -15px;">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
</div>
