<div class="animated fadeIn">
  <div class="card">
    <div class="card-header" style="margin-top: -1%">
      <div class="row">
        <div class="col-xs-9 text-nowrap" style="margin-top: 8px;">SITART05 : กำหนดวันหยุดประจำปี</div>
        <div class="col-xs-3">
          <div aria-label="Toolbar with button groups" class="btn-toolbar pull-right" role="toolbar">
            <div aria-label="Second group" class="btn-group" role="group">
              <button class="btn btn-success" type="button" (click)="createHoliday()" style="margin-top: 1px;"> เพิ่ม</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-block">
            <div class="form-group row">
              <div class="col-md-6">
                <label class="col-md-4 form-control-label" style="margin-top: 6px"><p align="right">วันที่</p></label>
                <div class="col-md-8">
                  <ss-datepicker #holidayDate (change)="changeHolidayDate($event)"></ss-datepicker>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <input class="form-control" id="appendedInputButtons" placeholder="ค้นหาจาก" size="14" type="text" [(ngModel)]="objCriteria.inputSearch"/>
                  <div class="input-group-btn">
                    <button class="btn btn-success" type="button" (click)="onSearch(0)"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
              <alert *ngIf="showMsg" type="success" dismissible="true" (close)="closeAlert()">{{ initMsg }}</alert>
            </div>
          </div>
          <div class="card-block table-responsive" style="margin-top: -40px">
            <table class="table table-hover table-bordered table-condensed table-sm">
              <thead class="thead-default">
                <tr>
                  <th style="width: 40%;">วันที่</th>
                  <th style="width: 60%;">รายละเอียด</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let records of records">
                  <td (click)="childModalShow(records)" style="width: 40%; text-align: center">
                    <u>{{records?.holidayDate | date: 'dd/MM/yyyy'}}</u>
                  </td>
                  <td style="width: 60%; text-align: center">{{records?.holidayDesc}}</td>
                </tr>
              </tbody>
            </table>
            <pagination [page]="page" (changepage)="onChangePage($event)"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal component -->
<div bsModal #alertModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="margin-top: 200px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="alertModalToggle()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="modal-title">{{ alert.title }}</h5>
      </div>
      <div class="modal-body">{{ alert.msg }}</div>
      <div class="form-actions row">
        <div class="col-md-2 offset-md-8">
          <button class="btn btn-success" type="submit" (click)="alertModalToggle()" style="margin-bottom: 10px">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
</div>
