<section class="content-header">
    <h1>Home : หน้าแรก</h1>
</section>

<a [routerLink]="['/home/home1']">Home 1</a>
<a [routerLink]="['/home/home2']">Home 2</a>
<div class="outer-outlet">
    <router-outlet></router-outlet>
</div>
